{% extends "base.html" %}
{% set page_id = "manage-users" %}
{% set page_title = _("Manage Users") %}
{% set page_subtitle = _("Manage the registered users.") %}
{% from "helpers/page.html" import render_pagination %}
{% from "helpers/user.html" import render_user_card, render_user_grid, render_avatar %}

{% macro render_card(user, upload_method) %}
{{render_user_card(user, upload_method)}}
<a class="btn btn-delete btn-block btn-danger" {% if current_user.id == user.id %}disabled{% else %}href="{{url_for('geotagx-admin.delete_user', name=user.name, confirmed='unconfirmed')+'?user_page_redirect='+pagination_page}}"{% endif %}>{{_("Delete User")}}</a>
{% endmacro %}


{% block stylesheet %}
<style>
.btn-export {
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.user-card {
	margin-bottom:0;
	border-bottom:0;
}
.btn-delete {
	margin-bottom:1em;
	font-weight:700;
	border-radius:0 0 2px 2px;
}
</style>
{% endblock %}


{% block body_content %}
{% call bootstrap.row() %}
<div class="row">
	<div class="col-xs-12 col-md-6"><a class="btn-export btn btn-block btn-cta" href="{{url_for('geotagx-admin.export_users', format='json')}}">{{_("Export users")}}&nbsp;(JSON)</a></div>
	<div class="col-xs-12 col-md-6"><a class="btn-export btn btn-block btn-cta" href="{{url_for('geotagx-admin.export_users', format='csv')}}">{{_("Export users")}}&nbsp;(CSV)</a></div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">{{render_user_grid(accounts, render_item=render_card)}}</div>
	<div class="col-xs-12 text-center">{{render_pagination(pagination)}}</div>
</div>
{% endcall %}
{% endblock %}
