{% extends "base.html" %}
{% import "_helpers/project.html" as project_helper %}
{% set page_share = page_share | default(False) %}
{% set is_authenticated = current_user.is_authenticated() if current_user else False %}
{% set is_administrator = is_authenticated and current_user.admin %}
{% set is_project_owner = is_administrator or (is_authenticated and current_user.id == project.owner_id) %}
{% set navigation_section = navigation_section | default(None, True) %}
{% set navigation_menu_items = [
	( True, "about",      _("About"), url_for("project.details", short_name=project.short_name)),
	(False, "blog",       _("Blog"), url_for("project.show_blogposts", short_name=project.short_name)),
	(False, "forum",      _("Forum"), "#"),
	( True, "tutorial",   _("Interactive Tutorial"), url_for("project.tutorial", short_name=project.short_name)),
	( True, "tasks",      _("Tasks"), url_for("project.tasks", short_name=project.short_name)),
	( True, "statistics", _("Statistics"), url_for("project.show_stats", short_name=project.short_name)),
	(False, "audit-logs", _("Audit Logs"), url_for("project.auditlog", short_name=project.short_name)),
	(False, "settings",   _("Settings"), url_for("project.settings", short_name=project.short_name)),
] %}

{% block stylesheet %}
<style>
#page-body {
	padding-top:0;
}
#project-navigation-container {
	background:#EEF2F5;
}
#project-navigation {
	font-weight:400;
	font-size:0.9em;
	text-transform:uppercase;
	letter-spacing:1px;
}
#project-navigation > ul {
	margin:0;
}
#project-navigation > ul > li.menu-item {
	margin:3px 0 0 0;
	padding:1em 0;
	flex:0 0 auto;
}
#project-navigation > ul > li.menu-item.section-tutorial > a {
}
#project-navigation > ul > li.menu-item.active {
	border-bottom:3px solid #0AF;
}
#project-navigation > ul > li.menu-item+li.menu-item:before {
	content:"\00b7\00a0";
	margin:0;
	padding:0;
}
#project-content-container {
	margin-top:1em;
}
</style>
{% endblock %}


{% block body %}
<main id="page-body" role="main">
	{% call bootstrap.render_container(id="project-navigation-container") %}
	<nav id="project-navigation">
		<ul class="list-inline">
		{% for (is_visible_to_public, section, title, url) in navigation_menu_items %}
			{% if is_administrator or is_visible_to_public %}
				{% with is_selected = section == navigation_section %}
					<li class="menu-item section-{{section}}{% if is_selected %} active{% endif %}">
						<a{% if not is_selected %} href="{{url}}"{% endif %}>{{title}}</a>
					</li>
				{% endwith %}
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
	{% endcall %}
	{% call bootstrap.render_container(id="project-content-container") %}{% block body_content %}{% endblock %}{% endcall %}
</main>
{% endblock %}
