{% extends "projects/base.html" %}
{% set page_id = "blog-article" %}
{% set page_title = blogpost.title %}
{% set page_share = True %}
{% set breadcrumbs = [(_("Blog"), url_for("project.show_blogposts", short_name=project.short_name))] %}
{% set page_subnavigation = [
	(True, "blog-article", _("Article"), url_for("project.show_blogpost", short_name=project.short_name, id=blogpost.id)),
	(True, "edit-blog-article", _("Edit Article"), url_for("project.update_blogpost", short_name=project.short_name, id=blogpost.id)),
] %}

{% block stylesheet %}
<style>
article img {
	width:100%;
}
article > .body {
	font-family:Open Sans;
	font-size:1.05em;
	line-height:1.4em;
}
article > footer {
	margin:1em 0 2em;
	padding:0.25em 0 0;
	font:400 0.85em Lato;
	color:#777;
	border-top:1px solid #EEE;
}
</style>
{% endblock %}


{% block body_content %}
<article>
	<section class="body">{{blogpost.body | e | markdown}}</section>
	<footer>{{_("Posted on")}} <time datetime="{{blogpost.created[:19]}}">{{blogpost.created[0:10]}}</time>.</footer>
</article>
{% endblock %}
