{% extends "base.html" %}
{% from "_helpers/page.html" import render_pagination %}
{% from "_helpers/project.html" import render_grid %}
{% set page_id = page_id | default("about-category") %}
{% set page_title = active_cat.name %}
{% set breadcrumbs = [(_("Projects"), url_for("geotagx-project-browser.index"))] %}
{% set is_draft = active_cat.short_name == "draft" %}
{% set is_featured = not is_draft and active_cat.short_name == "featured" %}
{% set is_under_development = not is_featured and active_cat.short_name == "underdevelopment" %}
{% set is_special = is_draft or is_featured or is_under_development %}
{% set has_projects = projects is defined and projects | length > 0 %}
{% set has_aggregated_data = has_projects and not is_special %}
{% set pagination = pagination | default(None) %}
{% set page_share = page_share | default(has_aggregated_data or is_featured) %}
{% set page_subnavigation = [
	(True, "about-category", _("About"), url_for("project.project_cat_index", category=active_cat.short_name)),
	(True, "visualize-category-data", _("Visualize Collected Data"), url_for("geotagx.map_summary", category_short_name=active_cat.short_name)),
] %}

{% block stylesheet %}
<style>
#category-description {
	font-family:"Open Sans";
	font-size:1.05em;
	margin:0 0 1.5em 0;
}
#projects-heading {
	margin:0 0 0.35em;
	font-weight:900;
	font-size:1.6em;
	letter-spacing:3px;
	text-transform:uppercase;
}
#no-projects {
	font-weight:900;
	font-size:1.5em;
	margin:1em 0 0;
	padding:0.25em 0 0 0;
	border-top:1px solid #EEE;
	color:#999;
	letter-spacing:1px;
}
#page-pagination {
	margin:0 0 1em 0;
	text-align:center;
}
</style>
{% endblock %}


{% block body_content %}
{% if active_cat.description %}
<div id="category-description">{{active_cat.description | safe}}</div>
{% endif %}
<div id="projects">
	{% if has_projects %}
	<h1 id="projects-heading">{{_("Projects")}}</h1>
	{{render_grid(projects, current_user)}}
	{% else %}
	<p id="no-projects">{{_("There are no projects assigned to this category yet.")}}</p>
	{% endif %}
</div>
{% if pagination and pagination.pages > 1 %}
<div id="page-pagination">{{render_pagination(pagination)}}</div>
{% endif %}
{% endblock %}
