{% extends "projects/base.html" %}
{% set active_page = "statistics" %}
{% set active_page_title = _("Statistics") %}

{% block main_content %}
<div class="row" style="min-height:400px;">
    <div class="span9">
        {{helper.render_project_title(project, upload_method, subtitle='Statistics') }}
        <span class="alert alert-warning"><strong>Ooops</strong> Sorry, the project does not have tasks to process and show some statistics</span>
    </div>
</div>
{{ helper.broken_image() }}
{% endblock %}
