{% extends "projects/base.html" %}
{% set active_page = "contribute" %}
{% set active_page_title = _("Contribute") %}
{% set active_page_subtitle = _("Help us analyse the project.") %}

{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{css}}/projects/presenter-base.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-questionnaire.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject-image.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject-pdf.css">
{# Once the stylesheets above are a bit more stable, they will be concactenated and minified to form a single presenter.min.css. #}
<link rel="stylesheet" href="{{css}}/projects/presenter.min.css">
{% endblock %}


{% block header %}
{{super()}}
{% call bootstrap.render_container(id="project-statistics") %}
<hr class="divider">
<div class="row">
	<div class="col-xs-12">
		<div id="share-project">{{helper.render_project_share_buttons(project)}}</div>
		{% if current_user.is_anonymous() %}
		<div id="anonymous-notification">
			<p id="anonymous-notification-message">{{_("You are contributing to this project anonymously and will not get any credit for your work.")}}</p>
			<ul class="list-inline">
				<li><a id="anonymous-sign-in" class="btn btn-lg btn-primary" href="{{url_for('account.signin')}}?next={{request.path}}">{{_("Sign In")}}</a></li>
				<li><button role="button" id="remind-me-later" class="btn btn-lg btn-default" disabled>{{_("Remind Me Later")}}</button></li>
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endcall %}
{% endblock %}


{% block flash_messages %}{% endblock %} {# Remove flash messages by declaring an empty block. #}


{% block main_content %}
<div class="row">
	<div class="col-xs-12">
		{% if project.completed or invite_new_volunteers %}
		<h3>{{_("Thank you for showing an interest in this project.")}}</h3>
		{% if project.completed %}
		<p>{{_("All available tasks for this project have been successfully completed.")}}</p>
		<a class="btn btn-lg btn-primary" href="{{url_for('project.export_to', short_name=project.short_name)}}">{{_("Export Results")}}</a>
		{% elif invite_new_volunteers %}
		<p>{{_("You have participated in all available tasks however we still need more volunteers to contribute.")}}<br>{{_("Help us spread the word by sharing the project!")}}</p>
		{% endif %}
		{% else %}
		{% from "projects/helpers/_presenter.html" import render_presenter %}
		{{render_presenter(project)}}
		{% endif %}
	</div>
</div>
{% endblock %}


{% block script %}
{%- if not (project.completed or invite_new_volunteers) %}
<script src="{{url_for('static', filename='js/pybossa/pybossa.js')}}" defer></script>
<script src="{{js}}/projects/presenter-base.js" defer></script>
<script src="{{js}}/projects/presenter-questionnaire.js" defer></script>
<script src="{{js}}/projects/presenter-subject.js" defer></script>
<script src="{{js}}/projects/presenter-subject-image.js" defer></script>
<script src="{{js}}/projects/presenter-subject-pdf.js" defer></script>
{# Once the scripts above are a bit more stable, they will be concactenated and minified to form a single presenter.min.js. #}
<script src="{{js}}/projects/presenter.min.js" defer></script>
<script>var __configuration__ = {{project.info.task_presenter|safe}};</script>
{% endif -%}
{% endblock %}
