{% extends "projects/base.html" %}
{% set active_page = "contribute" %}
{% set active_page_title = _("Contribute") %}
{% set active_page_subtitle = _("Help us analyse the project.") %}

{% block stylesheet %}
{{super()}}
<style>
#page-header {
	color:#4A4A4A;
	background:#EEE;
	box-shadow:inset 0 -1px 0 0 #CECECE;
	-moz-box-shadow:inset 0 -1px 0 0 #CECECE;
	-webkit-box-shadow:inset 0 -1px 0 0 #CECECE;
}
#page-header-content {
	padding-bottom:0.5em !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
#project-statistics {
	padding-bottom:1.15em;
}
#project-statistics .divider {
	margin:0;
	padding:0;
	border:none;
	height:1px;
	background:#CCC;
}
#anonymous-notification-message {
	font-size:1.05em;
	font-style:italic;
	padding-top:0.85em;
}
#anonymous-sign-in,
#remind-me-later {
	font-weight:900;
	border-radius:1px;
	letter-spacing:1px;
}
#share-project {
	font-size:1.5em;
	margin:0.35em 0 0;
}
</style>
{% endblock %}


{% block header %}
{{super()}}
{% call bootstrap.render_container(id="project-statistics") %}
<hr class="divider">
<div class="row">
	<div class="col-xs-12">
		<div id="share-project">{{helper.render_project_share_buttons(project)}}</div>
		{% if current_user.is_anonymous() %}
		<p id="anonymous-notification-message" class="show-on-anonymous">{{_("You are contributing to this project anonymously and will not get any credit for your work.")}}</p>
		<ul class="list-inline show-on-anonymous">
			<li><a id="anonymous-sign-in" class="btn btn-lg btn-primary" href="{{url_for('account.signin')}}?next={{request.path}}">{{_("Sign In")}}</a></li>
			<li><button role="button" id="remind-me-later" class="btn btn-lg btn-default">{{_("Remind Me Later")}}</button></li>
		</ul>
		{% endif %}
	</div>
</div>
{% endcall %}
{% endblock %}


{% block main_content %}
<div class="row">
	<div class="col-xs-12">
		<h2><a href="{{url_for('project.details', short_name=project.short_name)}}">{{ project.name }}</a>  <small style="text-transform:uppercase">{{ _('Contribute') }}</small></h2>
	</div>
</div>
{% if invite_new_volunteers %}
<div class="row">
	<div class="col-xs-12">
		<p>{{ _("Sorry, you have contributed to all the tasks for this project but it still needs more volunteers. Please spread the word!") }}</p>
		<center><span style="font-size:1.5em">{{helper.render_project_share_buttons(project)}}</span></center>
	</div>
</div>
{% else %}
{{ project.info.task_presenter|safe }}
{% endif %}
{% endblock %}


{% block script %}
<script src="{{url_for('static', filename='js/pybossa/pybossa.js')}}"></script>
<script>$("#remind-me-later").click(function(){ $(".show-on-anonymous").fadeOut(); });</script>
{% endblock %}
