{#
 # The current template context:
 # current_user
 # last_activity
 # n_completed_tasks
 # n_tasks
 # n_task_runs
 # n_volunteers
 # overall_progress
 # owner
 # project
 # upload_method
 #}
{% extends "projects/base.html" %}
{% from "_helpers/page.html" import render_share_buttons %}
{% set page_id = "about-project" %}
{% set page_title = project.name %}
{% set page_subtitle = project.description %}
{% set project_category = category or get_project_category(project.category_id) %}
{% set project_category_url = url_for("project.project_cat_index", category=project_category.short_name) %}
{% set project_completed = overall_progress == 100 %}

{% block stylesheet %}
{{super()}}
<style>
#page-subnavigation {
	text-align:center;
}
#project-long-description {
	font-family:"Open Sans";
}
#project-long-description h1 {
	margin:1.5em 0 0.25em;
	padding:0;
	font-size:1.5em;
	font-weight:700;
}
#project-long-description p {
	margin:0 0 1em;
}
#project-updated {
	border-top:1px solid #EEE;
	padding-top:0.15em;
	margin-top:2em;
	margin-bottom:1em;
	color:#777;
	font-size:0.9em;
}
</style>
{% endblock %}


{% block header %}
<div id="project-header" class="text-center">
	<div id="project-cover" class="project-cover" style="background-image:url({{project_helper.render_blurred_cover_image_src(project)}})">
		<div class="project-cover-overlay">
			<div class="project-category-name"><a href="{{project_category_url}}">{{project_category.name}}</a></div>
			<div class="project-name">{{project.name}}</div>
			<div class="project-description">{{project.description}}</div>
			<div class="project-progress">{{overall_progress}}% COMPLETE</div>
			<div class="project-call-to-action">
				{% if project_completed %}
				<a class="btn btn-cta btn-lg" href="{{url_for('project.tasks', short_name=project.short_name)}}">{{_("View Results")}}</a>
				{% else %}
				{% with requires_authentication = not project.allow_anonymous_contributors and not is_authenticated %}
				<a class="btn btn-cta btn-lg" href="{{url_for('project.presenter', short_name=project.short_name)}}">{{_("Sign in to Contribute") if requires_authentication else _("Start Contributing")}}</a>
				{% endwith %}
				{% endif %}
			</div>
			{{render_share_buttons(request.url, ul_class="project-cover-share-page")}}
		</div>
	</div>
</div>
{% endblock %}


{% block body_content %}
{% if project.long_description %}
<div id="project-long-description">{{project.long_description | e | markdown}}</div>
{% endif %}
<div id="project-updated">Last updated on {{project.updated[:10]}}.</div>
{% endblock %}


{% block script %}
<script>
/*
"use strict";
var url = "{{ckan_url}}/api/3/action/package_show";
$.get(url, {id: "{{ckan_pkg_name}}"}, function(data){
	if (data["success"] == true) {
		$("#ckan").show();
		if (data["result"]["license_title"] != null) {
			$("#ckan_license").show();
		}
	}
});
*/
</script>
{% endblock %}
