{% extends "projects/base.html" %}

{% block main_content %}
{{ helper.render_project_sublabel("Tasks > Auto Importer") }}

{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        {{ helper.render_project_title(project, subtitle=_('Setup task autoimporter'))}}
        <div class="row">
            <div class="span12">
                <p class="lead">{{_('Use one of the following available')}}
                <strong>{{_('importers')}}</strong> {{_('to setup as the autoimporter')}}</p>
            </div>
        </div>
        {% for row in available_importers|batch(2) %}
        <div class="row">
            {% for importer in row %}
            <div class="col-md-6 col-lg-6 col-sm-6">
                {% include importer %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
