{% extends "base.html" %}
{% set active_page = "community"  %}
{% import "privacy/locked.html" as privacy %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import broken_image %}

{% block content %}
<div class="row">
  <div>
      {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
      {% else %}
      <h1>{{ _('Community') }} <small>{{total}} {{ _('active registered users') }}</small><a class="pull-right btn btn-primary input-lg" href="{{url_for('leaderboard.index')}}"><i class="fa fa-trophy " style="color:white"></i> {{ _('Leaderboard') }}</a></h1>
      {% if accounts %}
      <div class="container">
        <div class="row">
      {% set count=0 %}

      {% for account in accounts %}
      <a href="{{url_for('account.profile', name=account.name)}}">
          <div class="col-xs-3 community-page-user-tile" style="margin-bottom:40px">
                        <div class="user-profile-image">
                          <center>
                        {{ helper.render_user_thumbnail(account, upload_method, style="height:150px; width:150px;", class="img-circle") }}
                          </center>
                        </div>
                        <div class="user-profile-data text-center">
                          <div class="user-profile-fullname">
                            {{ account.fullname }}
                          </div>
                          <div class="user-profile-task_runs">
                            <span class="label"> {{ _('Contributed Tasks') }} : </span><span class="value">{{account.task_runs}}</span>
                          </div>
                          <div class="user-profile-member_since">
                            <span class="label">{{ _('Joined') }} </span><span class="value">{{account.registered_ago}}</span>
                          </div>                          
                        </div>
            </div>
          </a>
          {% set count = count + 1 %}
          {% if count % 4 == 0 %}
            </div> <!-- End Row div -->
            <div class="row"> <!-- Start new Row div -->
          {% endif %}
            <!-- </a> -->
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="span9">
        {% if pagination.pages > 1 %}
            {{ helper.render_pagination(pagination) }}
        {% endif %}
    </div>
    {% endif %}
  </div>
</div>

{{ broken_image() }}
{% endblock %}
