{% extends "base.html" %}
{% set page_id = "profile" %}
{% set page_title = _("Profile") %}
{% set page_subtitle = _("View your GeoTag-X profile.") %}
{% from "_helpers/project.html" import render_project_grid %}
{% from "account/_helpers.html" import render_user_profile %}

{% block stylesheet %}
<style>
#profile-header {
	color:#FFF;
	background:#34495E;
	padding-top:1.5em;
	padding-bottom:1.5em;
}
</style>
{% endblock %}


{% block header %}
{{super()}}
{% if current_user.is_authenticated() %}
	{% call bootstrap.render_container(id="profile-header") %}
		{{render_user_profile(current_user, upload_method, "settings")}}
	{% endcall %}
{% endif %}
{% endblock %}


{% block body_content %}
{% call bootstrap.row() %}
	<div class="row">
		<div class="col-xs-12"><h1>{{_("Your Contributions")}}</h1><hr></div>
		<div class="col-xs-12">{{render_project_grid(projects_contrib, current_user)}}</div>
	</div>
{% endcall %}
{% endblock %}
