{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as app_helper %}
{% import "_helpers.html" as geotagx_helper %}
{% from "_helpers.html" import render_geotagx_project_portfolio_element_with_stats_front_page_tile %}

{% block content %}
<!-- NOTE :: A part of the profile page is rendered in the breadcrumb -->
<!-- TO-DO : Fix this  -->

<div class="row-fluid">
    <div class="span9">
        <hr>
        <h2><b style="color:#34495e">{{ user.fullname}}'s</b>{{_(' Contributions') }}</h2>
        <br/><br/>
        <div class="container">
            <div class="row  mar-b-30">
                <div id="portfoliolist-three">
                    <div class="col-md-12">
                    {% for app in projects %}

                    {{ render_geotagx_project_portfolio_element_with_stats_front_page_tile(app, category, isAdmin, upload_method) }}

                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div><!-- end span9 -->
</div>

{{ app_helper.broken_image() }}
{% endblock %}
