{% extends "account/signin.html" %}
{% set active_page = "account_register" %}
{% set active_page_title = _("Create a New Account") %}
{% set active_page_subtitle = _("Not a member yet? Sign up for free.") %}
{% set page_breadcrumbs = [(_("Sign In"), url_for("account.signin"))] %}

{% block content %}
{% call bootstrap.row(row_id="account-registration-page", row_class="authentication-page") %}
<p class="header">By signing up, you hereby agree to our <a target="_blank" href="{{url_for('help.tos')}}">Terms of Service</a> and that you have read our <a target="_blank" href="{{url_for('help.privacy')}}">Privacy</a> and <a target="_blank" href="{{url_for('help.cookies_policy')}}">Cookie</a> policies.</p>
<div class="row">
	<div class="btn-social-group col-xs-12 col-md-5">
		<section><a href="/facebook" class="btn btn-lg btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span>{{_("Sign up with Facebook")}}</a></section>
		<section><a href="/twitter" class="btn btn-lg btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span>{{_("Sign up with Twitter")}}</a></section>
		<section><a href="/google" class="btn btn-lg btn-block btn-social btn-google"><span class="fa fa-google"></span>{{_("Sign up with Google+")}}</a></section>
		<div class="separator visible-xs-block visible-sm-block">{{_("OR")}}</div>
	</div>
	<div class="form-container col-xs-12 col-md-7">
		<form id="account-registration-form" method="post" accept-charset="UTF-8" role="form" action="{{url_for('account.register')}}">
			{{form.hidden_tag()}}
			<fieldset>
				{{geotagx_render_field(form.email_addr,"email_addr", "Email Address", "text")}}
				{{geotagx_render_field(form.fullname,"fullname", "Full Name", "text")}}
				{{geotagx_render_field(form.name,"name", "Username", "text")}}
				{{geotagx_render_field(form.password,"password", "Password", "password")}}
				{{geotagx_render_field(form.confirm,"confirm", "Confirm Password", "password")}}
				<button type="submit" class="btn btn-lg btn-block btn-primary">{{_("Sign Up")}}</button>
			</fieldset>
		</form>
	</div>
</div>
{% endcall %}
{% endblock %}
