{% extends "base.html" %}
{% set active_page = active_page | default("account_sign_in") %}
{% set active_page_title = active_page_title | default(_("Sign In")) %}
{% set active_page_subtitle = active_page_subtitle | default(_("Sign in to your GeoTag-X account.")) %}
{% from "_formhelpers.html" import geotagx_render_field %}

{% block stylesheet %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
<style>
.authentication-page {
	padding-top:1em;
	padding-bottom:1.5em;
}
.authentication-page .header {
	font-size:1.2em;
	font-style:italic;
	padding-bottom:0.5em;
}
.authentication-page .header > a {
	font-weight:700;
	color:#0AF;
}
.authentication-page .btn-social-group > section {
	padding-bottom:0.25em;
}
.authentication-page .btn-social-group > .separator {
	margin:0.25em 0 1em;
	font-size:1.2em;
	font-weight:900;
	letter-spacing:1px;
	text-align:center;
}
@media only screen and (min-width: 992px) {
	.authentication-page .form-container {
		border-left:1px dashed #CCC;
	}
}
.authentication-page form > fieldset > button[type="submit"] {
	font-size:1.2em;
	font-weight:900;
	letter-spacing:1px;
	border-radius:0;
	background:#0AF;
}
</style>
{% endblock %}


{% block content %}
{% call bootstrap.row(row_id="account-login-page", row_class="authentication-page") %}
<p class="header">Not a member yet? <a href="{{url_for('account.register')}}">Sign up for free</a>!</p>
<div class="row">
	<div class="btn-social-group col-xs-12 col-md-5">
		<section><a href="/facebook" class="btn btn-lg btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span>{{_("Sign in with Facebook")}}</a></section>
		<section><a href="/twitter"  class="btn btn-lg btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span>{{_("Sign in with Twitter")}}</a></section>
		<section><a href="/google"   class="btn btn-lg btn-block btn-social btn-google"><span class="fa fa-google"></span>{{_("Sign in with Google+")}}</a></section>
		<div class="separator visible-xs-block visible-sm-block">{{_("OR")}}</div>
	</div>
	<div class="form-container col-xs-12 col-md-7">
		<form id="account-sign-in" method="post" accept-charset="UTF-8" role="form">
			{{form.hidden_tag()}}
			<fieldset>
				{{geotagx_render_field(form.email, "email", "Email Address", "text")}}
				{{geotagx_render_field(form.password, "password", "Password", "password")}}
				<div class="form-group" style="text-align:right; padding-bottom:1.25em">
					<div><a href="{{url_for('account.forgot_password')}}">{{_("Have you forgotten your password?")}}</a></div>
				</div>
				<button type="submit" class="btn btn-lg btn-block btn-primary">{{_("Sign In")}}</button>
			</fieldset>
		</form>
	</div>
</div>
{% endcall %}
{% endblock %}
