{% extends "base.html" %}
{% set active_page = "sign_in" %}
{% set active_page_title = _("Sign In") %}
{% set active_page_subtitle = _("Sign in to your GeoTag-X account.") %}

{% block content %}
    <div class="omb_login">
      <h3 class="omb_authTitle">Login using </h3>
    <div class="row omb_row-sm-offset-4 omb_socialButtons">
          <div class="col-xs-4 col-sm-2 col-sm-offset-4">
            <a href="/twitter" class="btn btn-lg btn-block omb_btn-twitter">
              <i class="social-icon fa fa-twitter fa-2x pull-left"></i>
              <span class="hidden-xs">Twitter</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="/google" class="btn btn-lg btn-block omb_btn-google">
              <i class="social-icon fa fa-google-plus fa-2x pull-left"></i>
              <span class="hidden-xs">Google+</span>
            </a>
          </div>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>
  </div>



<div class="signin-container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="centered-form-panel panel panel-default geotagx-panel">
          <div class="panel-body">
            {% from "_formhelpers.html" import geotagx_render_field %}
            <form id="signin" method="post" accept-charset="UTF-8" role="form">
            {{ form.hidden_tag() }}
              <fieldset>
                <div class="form-group text-center">
                  <i class="fa fa-user big-icon-10"></i>
                </div>
                {{ geotagx_render_field(form.email,"email", "Email", "text") }}
                {{ geotagx_render_field(form.password, "password", "Password", "password") }}
                <div class="form-group" style="text-align:right">
                    <div><a href="{{ url_for('account.forgot_password') }}"><b>Forgot password?</b></a></div>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-block btn-info input-lg">{{ _('Sign in') }}</button>
                </div>
                <div class="form-group">
                <a href="{{ url_for('account.register') }}" class="btn btn-block btn-success input-lg">{{ _('Create a new account') }}</a>
                </div>
              </fieldset>
              </form>
          </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-4 text-center">
    <span class="label label-warning"><i class="icon-bullhorn"></i> {{ _('Note') }}</span>
        {{ _('By clicking the') }} <span font-color="#9cce44"><strong>{{ _('Sign in button') }}</strong></span> {{ _('above you are agreeing to
        the') }} <strong><a href="{{url_for('help.tos')}}">{{ _('terms of use') }}</a><strong> {{ _('and') }}
        <strong><a href="{{data_use | safe}}">{{ _('data') }}</a></strong>.
    </div>

  </div>
</div>
<script>
$('#email').keyup(function(){
    this.value = this.value.toLowerCase();
});
</script>

{% endblock %}
