<style type="text/css">
  .panel-heading {
    background-color : #34495e!important;
    color:white !important;
  }
  .panel-body {
    background-color : #34495e!important;
    color:white !important;
  }

  .panel-body a {
    color:#48cfad !important;
  }
  .panel-body a:hover {
    color: #9ACD32 !important;
  }
  .panel {
    margin-top:0px;
  }
  div {
    font-size:17px;
  }

  .about_page_row a {
    color:#48cfad !important;
  }
  .about_page_row a:hover {
    color: #9ACD32 !important;
  }

</style>
<div class="row about_page_row">
        <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 about wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
        <div class="row">
            <p class="text-center">
            <strong style="font-size:18px">GeoTag-X</strong> is a crowdsourcing research project set up by
the <a href="http://www.unitar.org/unosat/">United Nations Institute for Training and Research’s Operational Satellite Applications Programme (UNITAR-UNOSAT)</a> as part of the <a href="http://citizencyberlab.eu/">Citizen Cyberlab project</a>.
            <br/><br/>
            GeoTag-X aims to <strong>help disaster relief efforts</strong> on the ground to plan a response by asking <strong>volunteers</strong> to <strong>analyse</strong> <strong>photos taken in disaster-affected areas</strong>.
            </p>
            <center>
            <img src="{{url_for('static', filename='geotagx-img/wordle.png')}}" style="width:60%"></img>
            </center>
            <p class="text-center">
              Anyone can be a volunteer for GeoTag-X.<br/> 
              There are <strong>no particular skills required</strong> to participate and it <strong>only takes a few minutes</strong> or less to analyse each photo.
            </p>
        </div>
        </div>    
    </div>
    <div class="row" style="z-index:1000!important  " id="image_anchor">
      <div class="col-md-3">
        <img src="{{url_for('static', filename='geotagx-img/about_page_images/intro_1.jpg')}}" style="width:100%;height:197px"></img>
        <a href="https://www.flickr.com/photos/faoswalim/13444934795/in/album-72157642992734333/" target="_blank">
        <center>
        &copy; FAO SWALIM
        </center>
        </a>
      </div>
      <div class="col-md-3">
        <img src="{{url_for('static', filename='geotagx-img/about_page_images/intro_2.jpg')}}" style="width:100%;height:197px"></img>
        <a href="https://commons.wikimedia.org/wiki/File:WHO_in_PPE.jpg" target="_blank">
        <center>
        <i class="fa fa-creative-commons"></i> Discasto
        </center>
        </a>
      </div>
      <div class="col-md-3">
        <img src="{{url_for('static', filename='geotagx-img/about_page_images/intro_3.jpg')}}" style="width:100%;height:197px"></img>
        <a href="https://commons.wikimedia.org/wiki/File:May_flooding_2014.JPG" target="_blank">
        <center>
        <i class="fa fa-creative-commons"></i> Marckos
        </center>
        </a>
      </div>
      <div class="col-md-3">
        <img src="{{url_for('static', filename='geotagx-img/about_page_images/intro_4.png')}}" style="width:100%;height:197px"></img>
        <a href="https://www.flickr.com/photos/130225227@N02/15773600134/sizes/l" target="_blank">
        <center>
        &copy; REACH Initiative
        </center>
        </a>        
      </div>                  
    </div>
    <br/> 
</div> <!-- end div of outer block container -->
<br/>
<div class="property blue-bg in-page-link" style="padding-top:1px;padding-bottom:1px;">
<div class="container">
<div class="row">
  <div class="col-md-10 col-md-offset-1">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <center><h3> How to get started? <i class="indicator fa fa-plus-circle" style="padding-left:20px"></i> </h3></center>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">


There are two ways to volunteer for GeoTag-X: you can either analyse photos or find photos.<br/><br/>
<center><h4 id="what_do_i_need"><img src="{{url_for('static',filename='geotagx-img/desktop.png')}}" style="margin-right:10px" width="50"></img>What do I need?</h4></center>
<hr>
The only things required to start contributing is a PC or tablet with an Internet connection, and some spare time.<br/>
This means that anyone can do it wherever they want, whenever they want. <br/><br/><br/>

<center><h4 id="analyse_photos" style="padding-top:135px;margin-top:-135px;"><img src="{{url_for('static',filename='geotagx-img/flask.png')}}" style="margin-right:10px" width="50"></img>Analyse photos</h4></center>
<hr>
Help us extract information from the photos being collected by contributing to the different applications on <strong>GeoTag-X</strong>.<br/><br/>
It’s easy. Just follow these steps:<br/>
✓ Sign up for an <a href="{{url_for('account.register')}}">account</a>.<br/>
<i style="margin-left:11px;color:white">Note: is that mandatory? No, but it would be very helpful for us as we would like to build our community of experienced volunteers.</i><br/>
✓ Choose a project from the different applications on the <a href="/#project_grid">Project page</a>.<br/>
✓ Start contributing and analyse as many photos as you feel like.<br/><br/>
Don’t worry: it will take no longer than 2 minutes to register and between (less than) 1 to 3 minutes to analyse each photo.<br/>
If you are not sure what you are doing, you can take the project’s tutorial. It will teach you what to look for.<br/><br/><br/>

<center><h4 id="find_photos" style="padding-top:135px;margin-top:-135px"><img src="{{url_for('static',filename='geotagx-img/binocular.png')}}" style="margin-right:10px" width="50"></img>Find photos</h4></center>
<hr>
Photos are our main source of information. We need you to help us find photos for the different projects that are on the website.<br/><br/>
When it has been enabled for a project, you can use the <a href="https://chrome.google.com/webstore/detail/geotag-x-photo-collector/objndpnfdmjgiaadijpcfbobahbdomjp?hl=en">GeoTag-X Photo Collector extension</a> for Google Chrome <i class="fa fa-chrome"></i> to send us photos as you browse.<br/> To do so, simply right-click the photo you want to send and select <i style="color:white">Upload image URL to GeoTag-X</i>.<br/>
If you find albums containing relevant photos <a href="mailto:geotag-x@cern.ch">send</a> them to us and we will load them in for analysis.<a href="mailto:geotag-x@cern.ch"><i class="fa fa-envelope-o fa-2x" style="padding-left:30px"></i></a><br/><br/><br/>
<hr style="margin-bottom:5px;margin-top:20px">
<i style="color:white">Note: most of these projects are a work in progress.</i><br/>
If you find bugs or things that you don’t really like, or if you want to give us your feedback, you can post it on <a href="https://github.com/geotagx/geotagx-theme/issues">GitHub <i class="fa fa-github"></i>
</a> or use the <a href="http://geotagx.org/geotagx/feedback">Feedback form</a>.<br/>
We would love to hear what you think.

      </div>
    </div>
  </div>
  <hr style="margin:0px;padding:0px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
           <center><h3 id="how_will_the_analysis_help" style="padding-top:135px;margin-top:-135px">How will the analysis help?<i class="indicator fa fa-plus-circle" style="padding-left:20px"></i></h3></center>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">

Let’s see with an example.<br/><br/>
Our <a href="/project/category/emergencyshelterassessmentinthemiddleeast/">Winter Shelter Assessment application</a> is designed to assess whether emergency shelters in displacements sites in Jordan and Iraq are suitably prepared for winter.<br/><br/>
When people flee disasters, they may spend time in camps, sometimes for many years. Emergency shelters – often tents – need to be protected from harsh climatic extremes in both summer and winter. Weather conditions in the Middle East are characterized by very warm summers and cold winters, with temperatures sometimes dropping below freezing. This can leave displaced families and informal settlements particularly vulnerable.<br/><br/>
To help in the assessment, we ask questions based around <a href="https://www.sheltercluster.org/" target="_blank">Shelter Cluster indicators</a>, informed by <a href="http://www.reach-initiative.org/reach-completes-rapid-assessment-for-shelter-and-cccm-clusters-in-iraq" target="_blank">REACH shelter assessments</a>. Questions can be, for example, is the shelter raised off the ground? Does the shelter have a second cover? Is there space to put a chimney safely inside the shelter?<br/><br/>
The analysis questions are closely linked to the questions in assessments undertaken by REACH so that they can easily integrate the results into their work, and get a better idea of what is happening on the ground during a disaster – in this case, whether or not the emergency shelters are suitably prepared for winter. When the tool is no longer in an experimental phase and being used in operations, the results will help local people, governments, and humanitarian actors plan an emergency response.<br/>

      </div>
    </div>
  </div>
  <hr style="margin:0px;padding:0px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <center><h3 id="other_ways_to_contribute">Other ways to contribute <i class="indicator fa fa-plus-circle" style="padding-left:20px"></i></h3></center>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">


We welcome collaborators for new GeoTag-X projects, such as organisations or researchers addressing a particular crisis. <br/>
If you have an idea for a project on GeoTag-X send us an email at <a href="mailto:geotagx-x@cern.ch">geotag-x@cern.ch</a>. <br/><br/>
We are also researching how visitors learn through their interaction with GeoTag-X and the projects on it. To be part of this research make sure you sign up for an account and accept to be part of the research project. <br/>
You can learn more at <a href="http://citizencyberlab.eu/" target="_blank">Citizen Cyberlab</a>.

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('fa-plus-circle fa-minus-circle');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);
$('.accordion-toggle').on('click', function(e){
      evt.preventDefault();//Fix this. This statement causes error as evt is not defined. but if this statement is removed the target element scrolls away from the view because of the "#id" href
})


$(document).ready(function(){

  if(document.location.hash == "#image_anchor"){
    $("#collapseOne").toggle();
    console.log("Find photos");
  window.scrollTo(0, $("#image_anchor").offset().top);
  }
  if(document.location.hash == "#find_photos"){
    $("#collapseOne").toggle();
  window.scrollTo(0, $("#find_photos").offset().top);
  }
  if(document.location.hash == "#how_will_the_analysis_help"){
    $("#collapseTwo").toggle();
  window.scrollTo(0, $("#how_will_the_analysis_help").offset().top);
  }

  if(document.location.hash == "#what_do_i_need"){
    $("#collapseOne").toggle();
  window.scrollTo(0, $("#what_do_i_need").offset().top - 120);
  }

  if(document.location.hash == "#other_ways_to_contribute"){
    $("#collapseThree").toggle();
  window.scrollTo(0, $("#other_ways_to_contribute").offset().top);
  }

  if(document.location.hash == "#analyse_photos"){
    $("#collapseOne").toggle();
    console.log("Find photos");
  window.scrollTo(0, $("#analyse_photos").offset().top);
  }


})
</script>

</div>
</div>
</div>
</div>

<div class="container-fluid"> <!-- resume div of outer block container -->

