<div class="row">
        <div class="col-lg-4">
          <i class="fa fa-globe fa-5x big-icon-20" style="color:#444e67; padding-left:45px;padding-top:30px"></i>
        </div>
        <div class="col-lg-8 about wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
        <br/>
        <br/>
        <br/>
        <div class="row">
            <p class="text-center">
            <strong class="big-icon-2"><a href="#geotagx_what"> The GeoTag-X pilot project</a>  </strong> will  teach volunteers to perform in-depth analysis of 
            <br/><br/>
                <i class="fa fa-picture-o fa-2x ml-5"></i> <i>photos</i>  ,
                <i class="fa fa-video-camera fa-2x ml-5"></i> <i>video</i>  and 
                <i class="fa fa-volume-up fa-2x ml-5"></i> <i>audio</i>  <i style="padding-left:5px"></i>  coming out of a disaster.
            </p>
        </div>

        <hr/>

        <div class="row">
        <p class="text-center">
        <br/>
        This pilot project calls out to all <strong class="big-icon-2"> <a href="#citizenscience_what">Citizen Scientists</a></strong> to help <br/> <i class="fa fa-filter fa-2x ml-5"></i> <i>filter</i>  , 
                <i class="fa fa-database fa-2x ml-5"></i> <i>categorise</i>  and 
                <i class="fa fa-map-marker fa-2x ml-5"></i><i>map</i> <i style="padding-left:5px"></i> this data.
        </p>
        </div>
        </div>    
    </div>
    <br/> 
</div> <!-- end div of outer block container -->


<div class="property gray-bg in-page-link">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <p class="big-icon-3 text-right in-page-link" id="geotagx_what">
              What is <strong class="ml-5" style="color:#444e67">GeoTag-X</strong> ?
            </p>
            <hr>            
            <blockquote>
              <p>
                Disaster response efforts have to analyse <strong class="ml-5">massive amounts of data</strong> that are produced during a crisis. <strong class="ml-5"><i>An overwhelmingly difficult task.</i></strong>
              </p>
            </blockquote>               
            <p class="text-justify">
            <i class="ml-5">GeoTag-X</i> is a research project that will assess if we can <i class="ml-5">teach you</i>, our volunteers, to recognise the important information in a photo and <i class="ml-5"> create relevant, structured datasets </i> that can be used by those working on the ground in the response. In the end, we want to know if GeoTag-X could be a <strong style="color:#444e67">useful tool in an operational context</strong>.
              <br/> <br/>
            In order to assess this we have set up a <i class="ml-5">series of pilot projects</i> covering different disaster related events. Disasters could include <strong style="color:#444e67"> earthquakes </strong> , <strong style="color:#444e67">floods</strong>, and <strong style="color:#444e67"> hurricanes </strong>, along with more slow moving events such as <strong style="color:#444e67">drought </strong>, <strong style="color:#444e67"> climate change </strong>, and <strong style="color:#444e67"> pollution </strong>. Analysis in our pilot projects therefore could cover topics as diverse as <strong style="color:#444e67"> environmental conditions </strong>, <strong style="color:#444e67">health</strong>, <strong>agriculture</strong>, and <strong style="color:#444e67">engineering</strong>.
            </p>
            <hr>
          </div>
          <div class="col-lg-4 col-sm-4 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <i class="fa fa-question big-icon-20"></i>
          </div>          
        </div>
      </div>
</div>


<div class="property_white in-page-link">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <i class="fa fa-users big-icon-14"></i>
          </div>             
          <div class="col-lg-8 col-sm-8 col-lg-offset-1 col-sm-offset-1 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <p class="big-icon-2 text-justified in-page-link" id="citizenscience_what">
              Who are our <strong class="ml-5" style="color:#444e67"> Volunteers </strong> ?
            </p>
            <hr>
            <p class="text-justify">
                <i class="ml-5">Anyone</i> can volunteer with <strong style="color:#444e67">GeoTag-X</strong>. Our volunteers provide real value to the different projects on GeoTag-X by <i class="ml-5">testing the applications, analysing photos, and providing feedback</i>. Their work and the data they create is crucial to the success of GeoTag-X. While GeoTag-X is not currently an operational tool, without volunteers testing applications and analysing photos in this development period we would never progress beyond a simple idea into something that can provide concrete help to disaster responders. Along the way we hope the volunteers themselves will <strong style="color:#444e67">acquire new skills</strong> and a <strong style="color:#444e67">better understanding</strong> of what a disaster is and what it means for those caught up in it.              
            </p>
            <hr>
          </div>         
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2">
            <h3>Other ways to participate</h3>
            <p class="text-justify" style="width:100%">
              We welcome collaborators for new GeoTag-X projects, such as organisations or researchers addressing a particular crisis. You can <a href="mailto:eleanor.rusack@unitar.org">send us an email</a> if you have an idea for a project on GeoTag-X.

              We are researching how visitors learn through their interaction with GeoTag-X and the projects on it, to be part of this project make sure you sign up for an account and accept to be part of the research project. If you are interested in why we are doing this you can learn more at <a href="http://citizencyberlab.eu/">Citizen Cyberlab</a>.            
            </p>            
          </div>
        </div>
      </div>
</div>


{% include 'home/_get_started.html' %}

<div class="container-fluid"> <!-- resume div of outer block container -->
