{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% set active_page = 'home#index' %}
{% block content %}



<div class="row" style="margin-top:40px">
	<p class="text-center big-icon-3">
	Welcome to  <strong class="ml-5" style="color:#444e67">GeoTag-X</strong>
	<br/>
	</p>
</div>
<div class="row" style="margin-top:10px">

	<div class="col-md-3 text-center col-md-offset-3">
		<center>
			<img src="{{ url_for('static', filename='geotagx-img/binocular.png') }}" width="80px"/>
		</center>
	<a href="/about#find_photos" class="btn btn-purchase"><i class="fa fa-binoculars"></i> Find photos </a>
	</div>

<div class="col-md-3 text-center">
	<center>
		<img src="{{ url_for('static', filename='geotagx-img/flask.png') }}" width="80px"/>
	</center>	
	<a href="/about#analyse_photos" class="btn btn-purchase"><i class="fa fa-flask"></i> Analyze Photos </a>
</div>
</div>
<br/>
<br/>
<hr>
{% include '_front_project_grid.html' %}
</div>
{% endblock %}


