{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% set active_page = 'home#index' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{css}}/parallax-slider/parallax-slider.css">
<style>
#welcome-to-geotagx {
	text-align:center;
}
#welcome-to-geotagx > h1 {
	font-size:2.5em;
}
#welcome-to-geotagx > h1 > strong {
	color:#444E67;
	white-space:nowrap;
}
#welcome-to-geotagx > p > strong {
	font-size:17px;
}
#getting-started {
	z-index:2;
	color:#FFF;
	background:#34495E;
	margin:0 0 2em 0;
}
#getting-started > i.fa {
	color:#48CFAD;
	padding:0 0 0 0.5em;
}
#welcome-to-geotagx-wrapper,
#front-page-grid-wrapper {
	position:relative;
}
#welcome-to-geotagx-wrapper {
	z-index:1;
}
#front-page-grid-wrapper {
	z-index:0;
}
</style>
{% endblock %}


{# Remove breadcrumbs from the front page by declaring an empty breadcrumbs block. #}
{% block breadcrumbs %}{% endblock %}


{% block header %}
{% include "_slider.html" %}
{% endblock %}


{% block content %}
{% call bootstrap.row() %}
<div id="welcome-to-geotagx-wrapper" class="row">
	<div id="welcome-to-geotagx" class="col-xs-12">
		<h1>{{_("Welcome to")}}&nbsp;<strong>{{brand}}</strong></h1>
		<p class="text-center">GeoTag-X aims to <strong>help disaster relief efforts</strong> on the ground to plan a response by asking <strong>volunteers</strong> to <strong> analyse photos taken in disaster-affected areas</strong>.<br><br>There are <strong>no particular skills required</strong> to participate and it <strong>only takes a few minutes</strong> or less to analyse each photo.<br><br></p>
		<a id="getting-started" class="btn btn-lg" href="/about#image_anchor">{{_("How to get started?")}}<i class="fa fa-plus-circle"></i></a>
		<hr>
	</div>
</div>
<div id="front-page-grid-wrapper" class="row">
	<div class="col-xs-12">
		{% include "_front_project_grid.html" %}
	</div>
</div>
{% endcall %}
{#
<div class="container-fluid supported partners-wrapper">
	<div class="container partners">
	<div class="row">
	  <div class="col-sm-2 text-center">
		<a target="_blank" href="http://citizencyberlab.eu/"><img class="img-thumbnail" src="/static/geotagx-img/CCLogo.png"></a>
	  </div>
	  <div class="col-sm-2 text-center" style="padding:0px">
		<a target="_blank" href="http://www.unitar.org/"><img class="img-thumbnail" src="/static/geotagx-img/logo_unitar.png"></a>
	  </div>
	  <div class="col-sm-2 text-center">
		<a target="_blank" href="http://cordis.europa.eu/fp7/home_en.html"><img class="img-thumbnail" src="/static/geotagx-img/FP7-logo.png"></a>
	  </div>
	  <div class="col-sm-2 text-center" style="padding:0px">
		<a target="_blank" href="http://www.unitar.org/unosat/"><img class="img-thumbnail" src="/static/geotagx-img/logo_unosat.png"></a>
	  </div>
	  <div class="col-sm-2 text-center">
		<a target="_blank" href="http://www.citizencyberscience.net/"><img class="img-thumbnail" src="/static/geotagx-img/ccc.png"></a>
	  </div>
	  <div class="col-sm-2 text-center">
		<a target="_blank" href="http://www.pybossa.com/"><img class="img-thumbnail" src="http://pybossa.com/assets/img/pybossa_ocs_logo_pos.png" style="height:auto!important;padding-top:25px"></a>
	  </div>
	</div>
  </div>
</div>
#}
{% endblock %}


{% block script %}
<script src="{{vendor}}/jquery-md5/jquery.md5.js"></script>
<script src="{{js}}/parallax-slider/jquery.cslider.js"></script>
<script>
    $(function(){
		$("#featured-projects").cslider({autoplay: true, bgincrement: 0, interval: 6000});
		$(".portfolio_category_div").dblclick(function(){ document.location = "/project/category/"+$(this).attr("data-filter")+"/"; });
		$(".portfolio-anchors div").click(function(){
			if($(this).attr('data-filter').split(" ").length > 1){
				$("#disqus_thread").css("display","none");
			}else{
				$("#disqus_thread").css("display","block");
				// Use category hash instead of category short names, as they are pretty long in some cases
				// and that causes disqus to not consider them as valid identifiers in those cases.
				var category_hash = $.md5($(this).attr('data-filter')).substring(0,8);
				DISQUS.reset({reload: true, config: function(){
					this.page.identifier = category_hash;
					this.page.url = "http://geotagx.org/#!"+category_hash;
				}});
			}
		})
	});
	window.client_remote_addr = "{{user_ip}}";
</script>
<script type="text/javascript">
	var disqus_shortname = "geotagx";
	var disqus_identifier = "all-categories-hidden-form";
	(function(){var dsq = document.createElement('script');dsq.type = 'text/javascript';dsq.async = true; dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();
</script>
{% endblock %}
