{#
 # Renders a grid of items.
 # @param items the items to render.
 # @param row_size the number of items in the grid's row.
 # @param row_classes a set of custom classes for each grid row.
 # @param col_classes a set of custom classes for each grid column.
 #}
{% macro render_grid(items, row_size=3, row_classes=None, col_classes=None) %}
{% if items %}
{% set row_class = ["row grid-row", row_classes|default("", true)]|join(" ") %}
{% set col_class = ["grid-column col-xs-12 col-md-"~(12//row_size), col_classes|default("", true)]|join(" ") %}
<div class="{{row_class}}">
	{% for item in items %}
	<div class="{{col_class}}">{{caller(item)}}</div>
	{% if loop.index is divisibleby row_size %}
</div>
<div class="row grid-row{% if row_class %} {{row_class}}{% endif %}">
	{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endmacro %}

{#
 # Renders the specified pagination.
 # @param pagination a pagination to render.
 #}
{% macro render_pagination(pagination) %}
{% if pagination.pages > 1 %}
<nav aria-label="{{_('Page navigation')}}">
	<ul class="pagination">
		{% if pagination.has_prev %}
		<li class="page-item">
			<a class="page-link" href="{{url_for_other_page(pagination.page - 1)}}" aria-label="{{_('Previous')}}">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">{{_("Previous")}}</span>
			</a>
		</li>
		{% endif %}
		{% for page in pagination.iter_pages() %}
		{% if page %}
		<li class="page-item{% if page == pagination.page %} active{% endif %}"><a class="page-link" {% if page != pagination.page %} href="{{url_for_other_page(page)}}"{% endif %}>{{page}}</a></li>
		{% else %}
		<li><a disable>&#8230;</a></li>
		{% endif %}
		{% endfor %}
		{% if pagination.has_next %}
		<li class="page-item">
			<a class="page-link" href="{{url_for_other_page(pagination.page + 1)}}" aria-label="{{_('Next')}}">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">{{_("Next")}}</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
{% endmacro %}
