[submodule "static/js/projects/pybossa"]
	path = static/js/projects/pybossa
	url = git://github.com/PyBossa/pybossa.js.git
[submodule "static/js/base/ccl-tracker"]
	path = static/js/base/ccl-tracker
	url = git://github.com/wavesoft/ccl-tracker.git
