#footer-information {
	background:#1B1D1F;
	padding-top:1em;
	padding-bottom:1em;
}
#footer-information .section {
	list-style:none;
}
#footer-information .section > .header {
	margin-top:1.5em;
	margin-bottom:0.25em;
	padding-bottom:0.25em;
	border-bottom:1px solid #222;
	color:#444;
	font-size:0.7em;
	font-weight:900;
	letter-spacing:2px;
	text-transform:uppercase;
}
#footer-information .section:first-child > .header {
	margin-top:0.5em;
}
#footer-information a {
	color:#777;
}
#footer-information a:hover {
	color:#CCC;
}
#footer-legal {
	color:#A4A5A6;
	background:#16181A;
	padding-top:1em;
	padding-bottom:1em;
}
#footer-copyright {
	margin-top:0.25em;
	font-weight:400;
}
#footer-copyright a {
	color:#0AF;
}
#footer-social-media > ul {
	margin-top:0;
	margin-bottom:0;
}
#footer-social-media a {
	color:#A4A5A6;
}
#footer-social-media a:hover {
	color:#E4E5E6;
}
