body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.featured-project-name
{

}
.featured-project-description
{

}
.featured-project-analyse
{

}
.featured-project-image > img
{
    margin:0 0 12px 0;
    border:0;
    border-radius:10px;
}
