/**
 * Grid.
 */
.grid {
}
.grid > .grid-slot {
	padding:0.5em;
}
/**
 * Project tiles.
 */
.project-tile {
	text-align:left;
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 0);
}
.project-tile:hover {
	border-color:#DDD;
}
.project-tile > figure.cover {
	position:relative;
}
.project-tile > figure.cover > img {
	display:block;
	position:relative;
	width:100%;
	max-width:100%;
	min-height:100%;
	height:auto;
}
.project-tile:hover > figure.cover > img {
	transform:translateY(-10%);
	-o-transform:translateY(-10%);
	-ms-transform:translateY(-10%);
	-moz-transform:translateY(-10%);
	-webkit-transform:translateY(-10%);
}
.project-tile > figure.cover > .overlay {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
	background:rgba(0, 0, 0, 0.5);
}
.project-tile:hover > figure.cover > .overlay {
	background:rgba(0, 0, 0, 0.2);
}
.project-tile > figure.cover > .overlay > .settings {
	display:none;
	position:absolute;
	top:0;
	right:0;
	margin:0.4em 0.5em;
	color:#FFF;
}
.project-tile:hover > figure.cover > .overlay > .settings {
	display:block;
}
.project-tile > figure.cover > figcaption {
	position:absolute;
	z-index:2;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
}
.project-tile > figure.cover > figcaption > .caption-body {
	position:relative;
	padding:0.5em;
	color:#555;
	background:#FFF;
	transform:translateY(100%);
	-o-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.project-tile:hover > figure.cover > figcaption > .caption-body {
	transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	-moz-transform:translateY(0);
	-webkit-transform:translateY(0);
}
.project-tile > figure.cover > figcaption > .caption-body:after {
	position:absolute;
	left:1.5em;
	bottom:100%;
	width:0;
	height:0;
	content:" ";
	pointer-events:none;
	border:solid transparent;
	border-color:rgba(255, 255, 255, 0);
	border-bottom-color:#FFF;
	border-width:0.5em;
	margin-left:0.5em;
}
.project-tile > figure.cover > figcaption > .caption-body > header > .title {
	display:block;
	position:absolute;
	top:0;
	left:0.5em;
	right:0.5em;
	margin:0;
	padding:0 0 0.8em;
	color:#FFF;
	font-size:1.1em;
	font-weight:700;
	letter-spacing:1px;
	transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
}
.project-tile > figure.cover > figcaption > .caption-body > .description {
	font-size:0.95em;
}
.project-tile > figure.cover > figcaption > .caption-body > .description > a {
	font-weight:700;
	color:#0AF;
}
.project-tile > figure.cover > figcaption > .caption-body > hr {
	margin:0 0 0.5em;
}
.project-tile > figure.cover > figcaption > .caption-body > footer {
	font-size:0.7em;
	font-weight:700;
	letter-spacing:1px;
	text-align:center;
}
.project-tile > figure.cover > img,
.project-tile > figure.cover > .overlay,
.project-tile > figure.cover > .overlay > .settings,
.project-tile > figure.cover > figcaption > .caption-body,
.project-tile > figure.cover > figcaption > .caption-body > header > .title {
	transition:all ease-in-out 0.2s;
	-o-transition:all ease-in-out 0.2s;
	-ms-transition:all ease-in-out 0.2s;
	-moz-transition:all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
}
