#questionnaire {
    color:#555;
}
#questionnaire-header {
}
#questionnaire[data-analysis-complete="false"] #questionnaire-header {
    background:none;
}
#questionnaire[data-analysis-complete="true"] #questionnaire-header {
    background:#EEE;
}
#questionnaire-progress {
    position:relative;
    margin:0;
    padding:0;
    height:2.5em;
    background:#EEE;
}
#questionnaire-rewind {
    position:relative;
    width:2.5em;
    height:2.5em;
    margin:0;
    padding:0;
    border:none;
    outline:none;
    color:#FFF !important;
    background:#3BAFDA;
}
#questionnaire-rewind:hover {
    background:#4FC1E9;
}
#questionnaire-rewind:disabled {
    background:#CCC;
    cursor:not-allowed;
}
#questionnaire-rewind > i.fa {
    position:absolute;
    top:0.6em;
    left:0.4em;
}
#questionnaire-percentage-complete {
    position:absolute;
    z-index:2;
    top:0;
    left:1.725em;
    bottom:0;
    font-weight:400;
    font-size:1.725em;
    letter-spacing:1px;
}
#questionnaire-progress-bar {
    position:absolute;
    z-index:1;
    top:0;
    left:2.5em;
    bottom:0;
    width:0;
    background:#CCC;
    transition:width 0.3s ease-in-out;
    -o-transition:width 0.3s ease-in-out;
    -ms-transition:width 0.3s ease-in-out;
    -moz-transition:width 0.3s ease-in-out;
    -webkit-transition:width 0.3s ease-in-out;
}
#questionnaire-status {
    position:absolute;
    display:inline;
    z-index:2;
    top:0;
    right:1.05em;
    margin:0;
    padding:0 0.5em 0 0;
    height:2.5em;
}
#questionnaire-status > .status-icon {
    display:none;
    font-size:2em;
    line-height:1.35em;
}
#analysis-status {
    font-size:1.725em;
    font-weight:700;
    color:#EF1800;
}
#analyses-remaining,
#analyses-completed {
    color:#6F6F6F;
}
#analyses-remaining {
    font-weight:400;
}
#analyses-completed {
    font-weight:900;
}
#questionnaire-status-busy {
    color:#EEE;
    animation-name:flash;
    animation-duration:1s;
    animation-iteration-count:infinite;
}
#questionnaire-status-success {
    color:#0B0;
}
#questionnaire-status-error {
    color:#B00;
}
#questionnaire-submission-form {
    width:100%;
    padding:0.5em;
}
#questionnaire[data-analysis-complete="false"] #questionnaire-submission-form,
#questionnaire[data-analysis-complete="true"] #analysis-status {
    display:none;
}
#questionnaire-submission-button {
    text-transform:uppercase;
    font-weight:900;
    letter-spacing:2px;
}
#questionnaire-submission-message {
    display:none;
    font-weight:500;
    font-size:0.9em;
    font-style:italic;
    margin:0.75em 0 2em;
}
#questionnaire-submission-message[data-severity="error"] {
    color:#B00;
}
#questionnaire-submission-message[data-severity="success"] {
    color:#0B0;
}
#questionnaire-submission-thanks {
    margin:0.5em 0 0;
    font-size:1.05em;
}
#question {
    margin:1em 0 0;
}
#questionnaire[data-analysis-complete="true"] #question {
    display:none;
}
#question-title {
    font-weight:900;
    font-size:1.8em;
    margin:0;
    padding:0;
}
#question-help-modal > .modal-dialog > .modal-content {
    font-size:1.2em;
    border-radius:0;
}
#question-help-modal > .modal-dialog > .modal-content > .modal-header {
    color:#4A4A4A;
    background:#EEE;
}
#question-help-modal-title {
    font-size:1.5em;
}
#question-assistance {
    font-size:1.1em;
}
#question-help-modal-toggle {
    cursor:help;
    color:#007ACE;
}
#question-answer {
    margin:0.5em 0 0;
}
#question-answer-fields {
    margin:0 0 1em 0;
}
/**
 * Input fields.
 */
#question-answer-fields > .field-group {
    position:relative;
    display:none;
    margin:0.5em 0;
    padding:0;
    font-size:1.2em;
}
#question[data-type="dropdown-list"]          > #question-answer > #question-answer-fields  > .field-group.dropdown-list,
#question[data-type="radio-list"]             > #question-answer > #question-answer-fields  > .field-group.radio-list,
#question[data-type="checklist"]              > #question-answer > #question-answer-fields  > .field-group.checklist,
#question[data-type="illustrative-checklist"] > #question-answer > #question-answer-fields  > .field-group.illustrative-checklist,
#question[data-type="text"]                   > #question-answer > #question-answer-fields  > .field-group.text,
#question[data-type="number"]                 > #question-answer > #question-answer-fields  > .field-group.number,
#question[data-type="datetime"]               > #question-answer > #question-answer-fields  > .field-group.datetime,
#question[data-type="url"]                    > #question-answer > #question-answer-fields  > .field-group.url,
#question[data-type="geotagging"]             > #question-answer > #question-answer-fields  > .field-group.geotagging {
    display:block;
}
/**
 * Textual input fields.
 */
#text-field,
#longtext-field,
#number-field,
#url-field {
    width:100%;
    min-width:100%;
    max-width:100%;
    margin:0;
    padding:0.5em;
    font-weight:700;
    border:1px solid #DDD;
    background:#EEE;
    letter-spacing:1px;
}
/**
 * Dropdown list fields.
 */
#question-answer-fields > .field-group.dropdown-list {
    width:100%;
    height:2em;
}
#question-answer-fields > .field-group.dropdown-list > section {
    position:absolute;
    top:0;
    bottom:0;
}
#question-answer-fields > .field-group.dropdown-list > section.input {
    left:0;
    right:2em;
}
#question-answer-fields > .field-group.dropdown-list > section.reset {
    right:0;
    width:2em;
}
#dropdown-list-field,
#dropdown-list-field-reset {
    width:100%;
    height:100%;
}
#dropdown-list-field-reset {
    margin:0;
    padding:0;
    border:none;
    background:none;
    color:#AAA;
    outline:none;
    transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out;
}
#dropdown-list-field-reset:hover {
    color:#666;
}
#dropdown-list-field-reset:disabled {
    color:#EEE;
}
/**
 * Multiple choice fields, i.e. select (multiple choice, single response) and checklist (multiple choice, multiple response).
 */
#question-answer-fields > .field-group .multiple-choice label {
    font:inherit;
    cursor:pointer;
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
#question-answer-fields > .field-group .multiple-choice label > input[type="radio"],
#question-answer-fields > .field-group .multiple-choice label > input[type="checkbox"] {
    margin:0 0.3em 0 0;
}
#question-answer-fields > .field-group .multiple-choice label[role="other-option"] > input[type="text"] {
    visibility:hidden;
    margin:0 0 0 0.5em;
    padding:0.25em 0.3em;
    font-weight:900;
    letter-spacing:2px;
    border:1px solid #DDD;
    background:#EEE;
}
#question-answer-fields > .field-group .multiple-choice label[role="other-option"] > input:checked ~ input[type="text"] {
    visibility:visible;
}
/**
 * Answer buttons.
 */
#questionnaire .btn-answer {
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#FFF;
    border-radius:1px;
}
#questionnaire .btn-answer:disabled {
    opacity:1;
}
#questionnaire .btn-nosubject {
    display:none;
    background:#EF0000;
}
#questionnaire #question[data-index="0"] .btn-nosubject {
    display:inline;
}
#questionnaire .btn-yes,
#questionnaire .btn-ok {
    background:#8CC152;
}
#questionnaire .btn-no,
#questionnaire .btn-none {
    background:#CC0000;
}
#questionnaire .btn-unclear {
    color:#666;
    margin-top:0.3em;
}
#questionnaire .btn-unknown {
    background:#F6BB42;
}
#question[data-type]                          > #question-answer > #question-answer-buttons .btn.show-on-binary,
#question[data-type]                          > #question-answer > #question-answer-buttons .btn.show-on-list,
#question[data-type="binary"]                 > #question-answer > #question-answer-buttons .btn.hide-on-binary {
    display:none !important;
}
#question[data-type="binary"]                 > #question-answer > #question-answer-buttons .btn.show-on-binary,
#question[data-type="dropdown-list"]          > #question-answer > #question-answer-buttons .btn.show-on-list,
#question[data-type="radio-list"]             > #question-answer > #question-answer-buttons .btn.show-on-list,
#question[data-type="checklist"]              > #question-answer > #question-answer-buttons .btn.show-on-list,
#question[data-type="illustrative-checklist"] > #question-answer > #question-answer-buttons .btn.show-on-list {
    display:inline !important;
}
