<section id="contact-us" class="faq-section">
	<header><h1>Contact Us</h1></header>
	<div>
		<p>We welcome collaborators for new GeoTag-X projects such as organisations or researchers addressing a particular crisis. If you have an idea for a project, please <a href="mailto:geotagx-x@cern.ch">send us an email</a>.</p>
		<p>Your feedback helps us improve GeoTag-X so we would love to hear what you think about the project. We have set up a <a href="{{url_for('geotagx-feedback.index')}}">feedback page</a> where you can leave your suggestions.</p>
		<p>Have you found a bug? GeoTag-X is an open-source project that is constantly being improved. Our code can be found on <a href="https://github.com/geotagx" target="_blank" rel="noopener noreferrer">GitHub</a>; feel free to open an issue.</p>
	</div>
</section>
