<section id="getting-started" class="faq-section">
	<header><h1>Getting Started</h1></header>
	<div>
		<div class="faq-question">
			<header>Do I need any particular skills to be a volunteer?</header>
			<p>Absolutely not, anybody can be a volunteer! As a matter of fact, the only real requirements are a computer or mobile device, an internet connection and a bit of your time.</p>
		</div>
		<div class="faq-question">
			<header>That sounds great! How can I get involved?</header>
			<p>You can volunteer to the GeoTag-X project by helping us <strong>collect</strong> and <strong>analyse</strong> media relevant to our projects.</p>
			<p>Without media to analyse, our projects are not going to give us much information. We need your help finding any that are relevant to our active projects. To help you out, we have developed a web browser extension/plugin <small>[<a href="https://chrome.google.com/webstore/detail/geotag-x-photo-collector/objndpnfdmjgiaadijpcfbobahbdomjp" target="_blank" rel="noopener noreferre">Google Chrome</a><a hidden>Mozilla Firefox</a>]</small> that allows you to quickly send us photos while you browse the web.</p>
			<p>By contributing to the analysis of a project, you will help us extract information from different forms of media in order to create relevant, structured datasets used to the benefit of disaster response teams. The process is as simple as <a href="{{url_for('geotagx-project-browser.index')}}" target="_blank">picking a project</a> and analysing as much of it as you can.</p>
		</div>
		<div class="faq-question">
			<header>I am having trouble completing a project. What can I do?</header>
			<p>If you are not sure what you are doing, we highly encourage you to take the project's tutorial as they are designed to teach you what to look for.</p>
			<p>It is perfectly fine to be unsure about your answers and even make a few mistakes. Each piece of media is presented to at least thirty volunteers from which the most frequent answer is considered final. We are also assessing if we can teach you to recognise the important information in the media your are analysing.</p>
		</div>
		<div class="faq-question">
			<header>How will my analyses help plan a response?</header>
			<p>Let us answer this with an example.</p>
			<p>The <a href="{{url_for('project.project_cat_index', category='emergencyshelterassessmentinthemiddleeast')}}" target="_blank">Winter Shelter Assessment</a> projects are designed to assess whether emergency shelters in displacement sites in Jordan and Iraq are suitably prepared for winter.</p>
			<p>When people flee disasters, they may spend time in camps, sometimes for many years. Emergency shelters&mdash;often tents&mdash;need to be protected from harsh climatic extremes in both summer and winter. Weather conditions in the Middle East are characterized by very warm summers and cold winters, with temperatures sometimes dropping below freezing. This can leave displaced families and informal settlements particularly vulnerable.</p>
			<p>To help in the assessment, we ask questions based around <a href="https://www.sheltercluster.org/" target="_blank" rel="noopener noreferrer">Shelter Cluster indicators</a>, informed by <a href="http://www.reach-initiative.org/reach-completes-rapid-assessment-for-shelter-and-cccm-clusters-in-iraq" target="_blank" rel="noopener noreferrer">REACH shelter assessments</a>. Questions can be, for example, is the shelter raised off the ground? Does the shelter have a second cover? Is there space to put a chimney safely inside the shelter?</p>
			<p>The analysis questions are closely linked to the questions in assessments undertaken by REACH so that they can easily integrate the results into their work, and get a better idea of what is happening on the ground during a disaster&mdash;in this case, whether or not the emergency shelters are suitably prepared for winter. When the tool is no longer in an experimental phase and being used in operations, the results will help local people, governments, and humanitarian actors plan an emergency response.</p>
		</div>
	</div>
</section>
