{% extends "base.html" %}
{% set page_id = "administrator-dashboard" %}
{% set page_title = _("Administrator Dashboard") %}
{% set page_subtitle = _("Manage the platform.") %}
{% set sections = [
	(url_for("admin.users"), _("Administrators"), _("Manage administrators.")),
	(url_for("rq_dashboard.overview"), _("Background Jobs"), _("Manage background jobs.")),
	(url_for("admin.featured"), _("Featured Projects"), _("Showcase projects on the front page.")),
	(url_for("geotagx-admin.send_newsletter"), _("Newsletter"), _("Send out a newsletter.")),
	(url_for("admin.categories"), _("Project Categories"), _("Setup project categories.")),
	(url_for("geotagx-sourcerer.dashboard"), _("Sourcerer"), _("Moderate collected images.")),
	(url_for("geotagx-admin.manage_users"), _("Users"), _("Manage registered users.")),
] %}


{% block stylesheet %}
<style>
#administrator-dashboard {
	margin-top:1em;
}
.dashboard-section {
	padding:0.5em;
	margin-bottom:2em;
	background:#F3F3F3;
	border:1px solid #EAEAEA;
	position:relative;
}
.dashboard-section:hover {
	color:#FFF;
	background:#0AF;
}
.dashboard-section > h1 {
	font-weight:700;
	font-size:1.3em;
	letter-spacing:1px;
	margin:0;
}
.dashboard-section > p {
	min-height: 3em;
}
.dashboard-section > a {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
</style>
{% endblock %}


{% block body_content %}
{% call bootstrap.row(row_id="administrator-dashboard") %}
<div class="row">
{% for url, title, subtitle in sections %}
	<div class="col-xs-12 col-md-4">
		<div class="dashboard-section"><h1>{{title}}</h1><p>{{subtitle}}</p><a href={{url}}></a></div>
	</div>
	{% if loop.index is divisibleby 3 %}
</div>
<div class="row">
	{% endif %}
{% endfor %}
</div>
{% endcall %}
{% endblock %}
