/**
 * Form field containers.
 */
.form-group {
    color:#1B1D1F;
    font-size:1em;
    font-weight:400;
}
/**
 * Form labels.
 */
.form-group > label.control-label {
    display:block;
    color:#777;
    margin:0;
    padding:0;
    font-size:1.25em;
    font-weight:400;
}
/**
 * Help captions.
 */
.form-group > .help-block {
    margin:0;
    font-size:0.9em;
}
/**
 * Static form fields.
 */
.form-group > .form-control-static {
	margin:0;
    padding:0;
    min-height:0;
}
