{#
 # Renders the task presenter's questionnaire section.
 #}
{% macro render_questionnaire() %}
<div id="questionnaire">
	<header id="questionnaire-header" class="section-header">
		<section id="questionnaire-progress">
			<button id="questionnaire-rewind" :disabled="!hasPreviousQuestion()" @click="showPreviousQuestion"><i class="fa fa-lg fa-backward"></i></button>
			<div id="questionnaire-percentage-complete"><span v-text="percentageComplete"></span>%</div>
			<div id="questionnaire-progress-bar" :style="{width: progressBarWidth + 'px'}"></div>
		</section>
		<section id="questionnaire-status">
			<div id="analysis-status"><span id="analyses-remaining">&#8734;</span>&nbsp;&#124;&nbsp;<span id="analyses-completed">&#8734;</span></div>
			<i id="questionnaire-status-busy"    class="status-icon fa fa-circle"></i>
			<i id="questionnaire-status-success" class="status-icon fa fa-check-circle"></i>
			<i id="questionnaire-status-error"   class="status-icon fa fa-exclamation-circle"></i>
		</section>
		<section id="questionnaire-submission-form" v-show="false">
			<button id="questionnaire-submission-button" class="btn btn-block btn-lg btn-success">{{_("Submit Your Analysis")}}</button>
			<center>
				<div id="questionnaire-submission-message"></div>
				<p id="questionnaire-submission-thanks">Thank you very much for contributing to this project! We appreciate any feedback you may have so find us on <a target="_blank" href="https://github.com/geotagx/pybossa/issues"><strong>GitHub</strong></a> or <a href="mailto:geotag-x@cern.ch?Subject=GeoTag-X feedback" target="_top"><strong>send us an email</strong></a>.</p>
			</center>
		</section>
	</header>
	<div id="question"><g-question :question="currentQuestion" :language="currentLanguage"></g-question></div>
	<button class="btn btn-answer btn-md btn-block btn-nosubject" value="NoSubject" v-show="!hasPreviousQuestion()">{{_("I do not see a subject")}}</button>
	<button class="btn btn-answer btn-md btn-block btn-unclear"   value="NotClear">{{_("Subject not clear enough")}}</button>
	<button class="btn btn-answer btn-md btn-block btn-unknown "  value="Unknown" data-toggle="tooltip" data-placement="bottom" title="{{_('Did you read the help?')}}">{{_("I do not know")}}</button>
	<template id="g-question-template">
		<header><h1 id="question-title" v-text="title"></h1></header>
		<div id="question-assistance">
			<section v-if="hasHint()" v-html="hint | markdown"></section>
			<section v-show="hasHelp()">If you are having trouble answering this question, <a id="question-help-modal-toggle" role="button" data-toggle="modal" data-target="#question-help-modal"><strong>get some help</strong></a>.</section>
		</div>
		<div id="question-help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="questionHelpModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 id="question-help-modal-title" class="modal-title" v-text="title"></h4>
					</div>
					<div class="modal-body">
						<div id="question-help-modal-content" v-html="help | markdown"></div>
						<p style="margin-top:1em"><i class="fa fa-lg fa-fw fa-info-circle"></i>&nbsp;<button class="btn btn-answer btn-xs btn-unknown" disabled>{{_("I do not know")}}</button>&nbsp;&nbsp;{{_("is a very useful answer if you are not sure how to reply to this question.")}}</p>
					</div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-xs text-uppercase" data-dismiss="modal"><strong>{{_("Close")}}</strong></button></div>
				</div>
			</div>
		</div>
		<div id="question-input" :data-type="input.type">
			<g-input-polar :input="input" :language="language" v-if="input.type == 'polar'"></g-input-polar>
			<g-input-dropdown-list :input="input" :language="language" v-if="input.type == 'dropdown-list'"></g-input-dropdown-list>
			<g-input-multiple-choice :input="input" :language="language" v-if="input.type == 'multiple-choice'"></g-input-multiple-choice>
			<g-input-text :input="input" :language="language" v-if="input.type == 'text'"></g-input-text>
			<g-input-number :input="input" :language="language" v-if="input.type == 'number'"></g-input-number>
			<g-input-datetime :input="input" :language="language" v-if="input.type == 'datetime'"></g-input-datetime>
			<g-input-url :input="input" :language="language" v-if="input.type == 'url'"></g-input-url>
			<g-input-geotagging :input="input" :language="language" v-if="input.type == 'geotagging'"></g-input-geotagging>
		</div>
	</template>
	<template id="g-input-polar-template">
		<button class="btn btn-answer btn-md btn-yes" @click="onAnswer('Yes')">{{_("Yes")}}</button>
		<button class="btn btn-answer btn-md btn-no" @click="onAnswer('No')">{{_("No")}}</button>
	</template>
	<template id="g-input-dropdown-list-template">
		<button class="btn btn-answer btn-md btn-ok" :disabled="!isOptionSelected()" @click="onAnswer('OK')">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-none" @click="onAnswer('None')">{{_("None of the above")}}</button>
		<button class="btn btn-answer btn-md btn-reset" :disabled="!isOptionSelected()" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-multiple-choice-template">
		<ul class="list-unstyled">
			<li v-for="option in options">
				<label>
					<input name="g-multiple-choice-input" :type="optionInputType" :value="option.value" v-model="selectedOptions"></input>
					<span role="label-name" v-text="option.label[language]"></span>
				</label>
			</li>
			<li v-show="allowOtherOption">
				<label role="other-option">
					<input name="g-multiple-choice-input" :type="optionInputType" value="Other" v-model="selectedOptions">
					<span role="label-name">{{_("Other")}}</span>
					<input type="text" v-model="otherOptionValue" v-show="isOtherOptionSelected()">
				</label>
			</li>
		</ul>
		<button class="btn btn-answer btn-md btn-ok" :disabled="!isOptionSelected()" @click="onAnswer('OK')">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-none" @click="onAnswer('None')">{{_("None of the above")}}</button>
		<button class="btn btn-answer btn-md btn-reset" :disabled="!isOptionSelected()" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-text-template">
		<input type="text" v-if="isShortText()" v-model="model" autofocus>
		<textarea v-else v-model="model" autofocus></textarea>
		<button class="btn btn-answer btn-md btn-ok" @click="onAnswer">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-reset" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-number-template">
		<input type="number" v-model="model" autofocus>
		<button class="btn btn-answer btn-md btn-ok" @click="onAnswer">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-reset" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-datetime-template">
		<input type="text" class="datepicker-here" v-model="model" autofocus>
		<button class="btn btn-answer btn-md btn-ok" @click="onAnswer">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-reset" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-url-template">
		<input type="url" v-model="model" autofocus>
		<button class="btn btn-answer btn-md btn-ok" @click="onAnswer">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-reset" @click="reset">{{_("Reset")}}</button>
	</template>
	<template id="g-input-geotagging-template">
		<div></div>
		<button class="btn btn-answer btn-md btn-ok" @click="onAnswer">{{_("OK")}}</button>
		<button class="btn btn-answer btn-md btn-reset" @click="reset">{{_("Reset")}}</button>
	</template>
</div>
{% endmacro %}

{#
 # Renders the task presenter's subject section.
 #}
{% macro render_subject() %}
<div id="subject">
{#
	<div id="subject-ui" class="row">
		<div class="col-xs-12">
			<div id="image-zoom-factor" class="subject-ui">&times;<span class="value">1.00</span></div>
			<div>X</div>
		</div>
	</div>
#}
{#
	<button class="subject-ui btn btn-primary btn-sm"></button>
	<a id="image-source" class="subject-ui btn btn-primary btn-sm"><i class="fa fa-external-link-square"></i></a>
	<header id="subject-header" class="section-header" hidden>
		<ul class="list-inline">
			<li><button id="subject-zoom-in" class="subject-control show-on-image"><i class="fa fa-search-plus"></i></button></li>
			<li><button id="subject-zoom-out" class="subject-control show-on-image"><i class="fa fa-search-minus"></i></button></li>
			<li><button id="subject-rotate-left" class="subject-control show-on-image"><i class="fa fa-rotate-left"></i></button></li>
			<li><button id="subject-rotate-right" class="subject-control show-on-image"><i class="fa fa-rotate-right"></i></button></li>
		</ul>
		<ul class="list-inline pull-right">
			<li><a id="subject-source" class="subject-control" role="button" target="_blank"><i class="fa fa-external-link-square"></i></a></li>
			<li><button id="subject-help" class="subject-control"><i class="fa fa-question-circle"></i></button></li>
		</ul>
	</header>
#}
	<div id="subject-body"></div>
</div>
{% endmacro %}
