{% extends "base.html" %}
{% set page_id = "community" %}
{% set page_title = _("Community") %}
{% set page_subtitle = [total, _("active humanitarians.")] | join(" ") %}
{% set page_locked = enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
{% from "privacy/locked.html" import render_lock_page %}
{% from "_helpers/page.html" import render_grid, render_pagination %}
{% from "_helpers/user.html" import render_user_card %}

{% block body_content %}
{% call bootstrap.row() %}
<div class="row text-center">
	<div class="col-xs-12"><a class="btn btn-lg btn-cta" href="{{url_for('geotagx-community.leaderboard')}}">{{_("Leaderboard")}}</a></div>
</div>
<hr>
<div class="row text-center">
{% if page_locked %}
	{{render_lock_page()}}
{% else %}
	<div class="col-xs-12">{{render_grid(users, render_user_card)}}</div>
	<div class="col-xs-12">{{render_pagination(pagination)}}</div>
{% endif %}
</div>
{% endcall %}
{% endblock %}
