{% extends "/base.html" %}
{% set page_id = "community" %}
{% set page_title = _("Community Leaderboard") %}
{% set page_locked = enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
{% from "privacy/locked.html" import render_lock_page %}
{% from "helpers/user.html" import render_user_grid, render_avatar %}

{#
 # Renders a leaderboard user card.
 #}
{% macro render_leaderboard_user_card(user, upload_method) %}
<div class="user-card">
	<div class="row">
		<div class="avatar col-xs-4">{{render_avatar(user, upload_method)}}</div>
		<div class="bio col-xs-8 text-left">
			<div class="name">{{user.fullname}}</div>
			<div class="score">{{_("Score")}}:&nbsp;<span class="value">{{user.score}}</span></div>
			<div class="rank">#<span class="value">{{user.rank}}</span></div>
		</div>
	</div>
	<a class="profile-page" href="{{url_for('account.profile', name=user.name)}}"></a>
</div>
{% endmacro %}


{% block stylesheet %}
<style>
.user-card .bio > .score {
	font-size:0.9em;
}
.user-card .bio > .rank {
	font-weight:700;
	font-size:1.2em;
	margin:0.25em 0 0;
}
</style>
{% endblock %}


{% block body_content %}
{% call bootstrap.row() %}
<div class="row text-center">
{% if page_locked %}
	{{render_lock_page()}}
{% else %}
	<div class="col-xs-12">{{render_user_grid(users, render_item=render_leaderboard_user_card)}}</div>
{% endif %}
</div>
{% endcall %}
{% endblock %}
