{#
 # Renders a page's breadcrumbs, title and subtitle.
 #}
{% macro render_header(breadcrumbs=None, title=None, subtitle=None) %}
{#
 # This macro is a prototype. The 'False' in the following condition is set to disable it.
 # If the rendered HTML is small and managable enough, it will eventually end up in the
 # base.html template.
 #}
{% if breadcrumbs or title or subtitle %}

{# The style will make its way to a CSS file later on. #}
<style>
#page-header-content {
	display:none;/* Remove this when the macro is complete */
	background:#EEE;
	color:#4A4A4A;
	padding-top:1.15em;
	padding-bottom:1.5em;
	box-shadow:inset 0 -1px 1px 0 #CECECE;
	-moz-box-shadow:inset 0 -1px 1px 0 #CECECE;
	-webkit-box-shadow:inset 0 -1px 1px 0 #CECECE;
}
#page-breadcrumbs {
	margin:0;
	padding:0;
	font-size:1em;
}
#page-breadcrumbs > li:not(:first-child):before {
	margin:0;
	padding:0 0.3em 0 0;
	content:"\b7";
	color:#34495E !important;
}
#page-breadcrumbs > li:before {
	color:inherit !important;
}
#page-breadcrumbs > li.active {
	color:#888;
}
#page-breadcrumbs > li > a {
	color:#34495E;
	font-weight:700;
}
#page-breadcrumbs > li > a:hover {
	color:#D94F5C;
}
#page-title {
	font-weight:900;
	font-size:1.5em;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:0.25em;
}
#page-subtitle {
	font-weight:400;
	font-size:1.15em;
}
</style>
{% import "helpers/_bootstrap.html" as bootstrap %}
{% call bootstrap.render_container(id="page-header-content") %}
<ol id="page-breadcrumbs" class="breadcrumb">
	<li><a href="/">{{_("Home")}}</a></li>
	{% if breadcrumbs %}
	{% for breadcrumb_title, breadcrumb_url in breadcrumbs %}
	<li><a href="{{breadcrumb_url}}">{{breadcrumb_title}}</a></li>
	{% endfor %}
	{% endif %}
	{% if title %}
	<li class="active">{{title}}</a></li>
	{% endif %}
</ol>
{% if title %}
<div id="page-title" class="row"><div class="col-xs-12">{{title}}</div></div>
{% endif %}
{% if subtitle %}
<div id="page-subtitle" class="row"><div class="col-xs-12">{{subtitle}}</div></div>
{% endif %}
{% endcall %}
{% endif %}
{% endmacro %}
