{#
 # Renders the URL to the specified user's profile picture.
 #}
{% macro render_avatar_src(user, upload_method=None) %}
{%- if user.info.avatar -%}
	{%- if upload_method == "rackspace" -%}
		{{url_for("rackspace", filename=user.info.avatar, container=user.info.container)}}
	{%- else -%}
		{{url_for("uploads.uploaded_file", filename=(user.info.container + "/" + user.info.avatar))}}
	{%- endif -%}
{%- else -%}
	{{url_for("static", filename="img/placeholders/user.png")}}
{%- endif -%}
{% endmacro %}

{#
 # Renders the specified user's profile picture.
 #}
{% macro render_avatar(user, upload_method=None, image_id=None, image_class=None) -%}
<img src="{{render_avatar_src(user, upload_method)}}"{% if image_id %} id="{{image_id}}"{% endif %}{% if image_class %} id="{{image_class}}"{% endif %}>
{%- endmacro %}

{#
 # Renders a user card.
 #}
{% macro render_user_card(user, upload_method=None) %}
{% set score = user.n_task_runs if user.n_task_runs is defined else user.task_runs %}
<div class="user-card">
	<div class="row">
		<div class="avatar col-xs-4">{{render_avatar(user, upload_method)}}</div>
		<div class="bio col-xs-8 text-left">
			<div class="name">{{user.fullname}}</div>
			<div class="score">{{_("Score")}}:&nbsp;<span class="value">{{score}}</span></div>
			<div class="joined">{{_("Joined")}}&nbsp;<span class="value">{{user.registered_ago}}</span></div>
		</div>
	</div>
	<a class="profile-page" href="{{url_for('account.profile', name=user.name)}}"></a>
</div>
{% endmacro %}

{#
 # Renders a grid of users.
 # @param users the collection of users to render.
 # @param row_size the number of elements in the grid's row.
 # @param render_item a function that renders a grid item.
 #}
{% macro render_user_grid(users, row_size=3, render_item=render_user_card) %}
{% if users %}
<div class="row">
	{% for user in users %}
	<div class="col-xs-12 col-md-{{12//row_size}}">{{render_item(user)}}</div>
	{% if loop.index is divisibleby row_size %}
</div>
<div class="row">
	{% endif %}
{% endfor %}
</div>
{% endif %}
{% endmacro %}
