
<div class="breadcrumbs">
      <div class="container">
        <div class="row">



        

        {% if (not current_user.is_anonymous()) and ( request['path'] == "/account/"+current_user.name+"/" or request['path'] == "/account/"+current_user.name+"/update" ) %}

          {% import "account/_helpers.html" as account_helper %}
          {{ account_helper.render_user_profile(current_user, upload_method, "settings") }} 

        {% elif request['path'][:9]=="/account/" and projects %}

          {% import "account/_helpers.html" as account_helper %}
          {{ account_helper.render_user_public_profile(user, upload_method, "settings") }} 

        {% elif active_page == "applications" %}

          {% if not request['path' ] == "/app/"+app.short_name+"/newtask" %}
            {% import "applications/_helpers.html" as app_helper %}
                    {{ app_helper.render_overall_progress(app, n_tasks, overall_progress) }}
          {% endif %}


        {% else %}

          <div class="col-lg-4 col-sm-4">
            <h1>
              {% if request['path'] == "/account/forgot-password" %}
                Reset Password
              {% endif %}
              
              {% if request['path'] == "/account/register" %}
                Create New Account
              {% endif %}   

              {% if request['path'] == "/about" %}
                About
              {% endif %}   

              {% if request['path'] == "/app/new" %}
              {{ _('Create New Project') }}
              {% endif %}  


              {% if (not current_user.is_anonymous()) and  request['path'] == "/account/"+current_user.name+"/applications" %}
              {{ current_user.fullname+"'s #"+_("projects") }}
              {% endif %}  

            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              {% if request['path'] == "/account/signin" %}
                <li><a href="/">Home</a></li>
                <li class="active">Login</li>
              {% endif %}    
              {% if request['path'] == "/account/forgot-password" %}
                <li><a href="/">Home</a></li>
                <li class="active">Reset Password</li>
              {% endif %}      
              {% if request['path'] == "/account/register" %}
                <li><a href="/">Home</a></li>              
                <li class="active">Register</li>
              {% endif %}    
              {% if request['path'] == "/about" %}
                <li><a href="/">Home</a></li>              
                <li class="active">About</li>
              {% endif %}  
              {% if request['path'] == "/project/new" %}
                <li><a href="/">Home</a></li>              
                <li class="active">{{ _('Create New Project') }}</li>
              {% endif %}  
              {% if (not current_user.is_anonymous()) and  request['path'] == "/account/"+current_user.name+"/applications" %}
                <li><a href="/account/{{current_user.name}}/">My Account</a></li>              
                <li class="active">{{ _('Projects') }}</li>
              {% endif %}  
            </ol>
          </div>  

        {% endif %}

        </div>


      </div>
</div>
