    <!--footer start-->
<div class="container-fluid supported partners-wrapper">
    <div class="container partners">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 text-center">
        <a target="_blank" href="http://citizencyberlab.eu/"><img class="img-thumbnail" src="/static/geotagx-img/CCLogo.png"></a>
      </div>
      <div class="col-sm-2 text-center">
        <a target="_blank" href="http://cordis.europa.eu/fp7/home_en.html"><img class="img-thumbnail" src="/static/geotagx-img/FP7-logo.png"></a>
      </div>
      <div class="col-sm-2 text-center">
        <a target="_blank" href="http://www.unitar.org/unosat/"><img class="img-thumbnail" src="/static/geotagx-img/logo_unitar.png"></a>
      </div>
      <div class="col-sm-2 text-center">
        <a target="_blank" href="http://www.citizencyberscience.net/"><img class="img-thumbnail" src="/static/geotagx-img/ccc.png"></a>
      </div>      
      <div class="col-sm-2 text-center">
        <a target="_blank" href="http://www.pybossa.com/"><img class="img-thumbnail" src="/static/geotagx-img/logo_pybossa.png"></a>
      </div>
    </div>
  </div> 
</div>   
<footer class="footer">    
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-2">
        <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <h1>
            Resources
          </h1>
          <ul class="page-footer-list">
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="http://docs.pybossa.com">Docs</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/api">API</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/terms-of-use">Terms of Use</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/cookies-policy">Privacy</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/stats/">Stats</a>
            </li>
          </ul>
        </div>
      </div>       
      <div class="col-lg-2 col-sm-2">
        <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <h1>
            Licenses
          </h1>
          <ul class="page-footer-list">
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/license">Overview</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/license#applications">Applications</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/license#data">Data</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="/help/license#content">Content</a>
            </li>            
          </ul>
        </div>
      </div>  
      <div class="col-lg-2 col-sm-2">
        <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <h1>
            Technologies
          </h1>
          <ul class="page-footer-list">
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="http://ckan.org/">CKAN</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="http://www.epicollect.net/">EpiCollect</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="http://pybossa.com/">Pybossa</a>
            </li>
          </ul>
        </div>
      </div>                      
      <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
        <h1>latest tweet</h1>
          <div class="tweet-box">
            <i class="fa fa-twitter"></i>
            <em>
              Please follow
              <a target="_blank" href="javascript:;">@example</a>
              for all future updates of us!
              <a target="_blank" href="javascript:;">twitter.com/acme</a>
            </em>
          </div>
          <div class="tweet-box">
            <i class="fa fa-twitter"></i>
            <em>
              Please follow
              <a target="_blank" href="javascript:;">@example</a>
              for all future updates of us!
              <a target="_blank" href="javascript:;">twitter.com/acme</a>
            </em>
          </div>
          <div class="tweet-box">
            <i class="fa fa-twitter"></i>
            <em>
              Please follow
              <a target="_blank" href="javascript:;">@example</a>
              for all future updates of us!
              <a target="_blank" href="javascript:;">twitter.com/acme</a>
            </em>
          </div>
      </div>
      <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
        <h1>
          contact info
        </h1>
        <address>
          <p><i class="fa fa-twitter pr-10"></i>Twitter :  <a target="_blank" href="http://twitter.com/GeoTagX">@GeoTagX</a></p>
          <p><i class="fa fa-github pr-10"></i>Github :  <a target="_blank" href="https://github.com/geotagx">GeoTagX</a></p>
          <p><i class="fa fa-envelope pr-10"></i>Email :   <a target="_blank" href="mailto:unosat@unitar.org">unosat@unitar.org</a></p>
        </address>
      </div>          
    </div>
  </div>
</footer>
<!-- footer end -->
<!--small footer start -->
<footer class="footer-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 pull-right">
                <ul class="social-link-footer list-unstyled">
                    <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a target="_blank" href="http://twitter.com/GeoTagX"><i class="fa fa-twitter"></i></a></li>
                    <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s"><a target="_blank" href="https://github.com/geotagx"><i class="fa fa-github"></i></a></li>
                    <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a target="_blank" href="mailto:unosat@unitar.org"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<!--small footer end-->
