<div id="footer-information" class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			<section class="col-xs-12 col-md-3">
				<ul class="subsection">
					<li role="header">{{_("Partners")}}</li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://www.unitar.org/">UNITAR</a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="http://www.citizencyberlab.org/">Citizen Cyberlab</a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://cordis.europa.eu/fp7/home_en.html">European Commission</a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://home.cern/">CERN</a></li>
				</ul>
			</section>
			<section class="col-xs-12 col-md-3">
				<ul class="subsection">
					<li role="header">{{_("Legal")}}</li>
					<li><a href="{{url_for('help.tos')}}">{{_("Terms of Service")}}</a></li>
					<li><a href="{{url_for('help.cookies_policy')}}">{{_("Cookie Policy")}}</a></li>
					<li><a href="{{url_for('help.license')}}">{{_("Licenses")}}</a></li>
				</ul>
				<ul class="subsection">
					{% set faq_page = url_for("geotagx-faq.index") %}
					<li role="header">{{_("FAQ")}}</li>
					<li><a href="{{faq_page}}#getting-started">{{_("Getting Started")}}</a></li>
					<li><a href="{{faq_page}}#contact-us">{{_("Contact Us")}}</a></li>
				</ul>
			</section>
			<section class="col-xs-12 col-md-3">
				<ul class="subsection">
					<li role="header">{{_("Resources")}}</li>
					<li><a href="/stats/">{{_("General Statistics")}}</a></li>
					<li><a href="/newsletter/">{{_("Newsletter")}}</a></li>
					<li><a href="https://github.com/geotagx">{{_("Open Source")}}</a></li>
				</ul>
				<ul class="subsection">
					<li role="header">{{_("Technologies")}}</li>
					<li><a target="_blank" rel="nofollow noopener noreferrer" href="http://pybossa.com/">PyBossa</a></li>
					<li><a target="_blank" rel="nofollow noopener noreferrer" href="http://ckan.org/">CKAN</a></li>
					<li><a target="_blank" rel="nofollow noopener noreferrer" href="http://www.epicollect.net/">EpiCollect</a></li>
				</ul>
			</section>

			<section class="col-xs-12 col-md-3">
				<ul class="subsection">
					<li role="header">{{_("Help")}}</li>
					<li><a href="{{url_for('help.api')}}">{{_("Using the API")}}</a></li>
				</ul>
			</section>

		</div>
	</div>
</div>
<div id="footer-legal" class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			<div id="footer-copyright" class="col-xs-12 col-md-6">
				<div class="text-center visible-xs-block visible-sm-block"><div>&copy; 2016 UNITAR/UNOSAT</div><div><a target="_blank" href="https://www.unitar.org/unosat/">www.unitar.org/unosat</a></div></div>
				<div class="visible-md-block visible-lg-block">&copy; 2016 UNITAR/UNOSAT&nbsp;&middot;&nbsp;<a target="_blank" href="https://www.unitar.org/unosat/">www.unitar.org/unosat</a></div>
			</div>
			<div id="footer-social-media" class="text-right col-xs-12 col-md-6 visible-md-block visible-lg-block">
				<ul class="list-inline">
					<li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/GeoTagX"><i class="fa fa-2x fa-fw fa-twitter"></i></a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://github.com/geotagx"><i class="fa fa-2x fa-fw fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
