{% from "_helpers.html" import render_geotagx_project_portfolio_element %}
{% from "_helpers.html" import render_geotagx_project_portfolio_element_with_stats_front_page_tile %}


<!-- TO-DO:: Use url_for('static',...) -->
{% set category_image_dict = {'somalidrought':'/static/geotagx-img/categories/somali_drought.png', 'yamunamonsoonflooding2013':"/static/geotagx-img/categories/yamuna_monsoon_flooding.png", 'yemeniagriculturalwaterassessment':"/static/geotagx-img/categories/yemeni_agricultural_water_assesment.png", 'ebolaresponse':"/static/geotagx-img/categories/ebola_response.png",'emergencyshelterassessmentinthemiddleeast':"/static/geotagx-img/categories/winter_shelter.png"} %}

{% set category_label_dict = {'somalidrought':"Somali Drought", 'yamunamonsoonflooding2013':"Yamuna Monsoon Flooding 2013", 'yemeniagriculturalwaterassessment':"Yemeni Agricultural Water Assessment", 'ebolaresponse':"Ebola response",'emergencyshelterassessmentinthemiddleeast':"Emergency Shelter Assessment in the Middle East"} %}


<!-- Voodoo for a simple counter :( -->
{% set count = {'value': 0} %}
{% for value in categories_projects.values(): %}
        {% if count.update({'value': (count.value + value|length)}) %} {% endif %}
{% endfor %}


<div class="container" id="project_grid">
    <h3 class="text-center"><strong style="color:#444e67">Projects</strong></h3>
	<div class="row portfolio-anchors">
		<div class="col-md-2 project-category-selector filter active" data-filter="{% for category in category_image_dict.keys() %}{{category}}{% if not loop.last %}{{" "}}{% endif %}{% endfor %}">
			<span class="badge bg-green">{{count.value}}</span>
			<center><img class="portfolio-anchor-thumbnail" src="http://geotagx.org/static/img/default_logo.png"></center>
			<span>All</span>
		</div>
		{% for category in category_image_dict.keys() %}
		<div class="col-md-2 project-category-selector filter portfolio_category_div" data-filter="{{category}}" data-toggle="tooltip" data-placement="middle" title="Double Click to go to Category Page. Single Click to filter projects on this page">
			<span class="badge bg-green">{% if category in categories_projects.keys() %}{{categories_projects[category].__len__()}}{%else%} 0 {% endif %}</span>
			<center><img class="portfolio-anchor-thumbnail" src="{{category_image_dict[category]}}"></center>
			<span>{{category_label_dict[category]}}</span>
		</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".portfolio_category_div").dblclick(function(){
        document.location = "/project/category/"+$(this).attr('data-filter')+"/";
    });
});
</script>
<br/>
<hr>
{% set app_list = [] %}
{% set app_list_indices = [] %}
<div class="container">
    <div class="row  mar-b-30">
        <div id="portfoliolist-three">
            <div class="col-md-12">
            <!-- This block collects all the known apps and categories as a list of tuples -->
            {% for category in  categories_projects.keys() %}
                {% if category in category_image_dict.keys() %}
                    {% for app in categories_projects[category] %}
                        {% if app_list.append((app,category)) %}{% endif %}
                        {% if app_list_indices.append(app.short_name) %}{% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- This block randomly shuffles the whole list -->
            <!-- Sadly jinja2 doesnt have a shuffle filter :(, so we hack one using whatever tools we have
            This hack is necessary as we DO-NOT want to touch the code outside the geotagx-theme repository,
            so that we dont have any major conflicts while we regularly upgrade pybosse -->
            {% for i in range(app_list|length) %}
            {% set temp_selection = app_list|random %} <!-- Randomly select one element from the list -->
            {{ render_geotagx_project_portfolio_element_with_stats_front_page_tile(temp_selection[0], temp_selection[1], current_user.admin) }}<!-- Render the element -->
            {% if app_list.pop(app_list_indices.index(temp_selection[0].short_name)) %}{% endif %}<!-- POP out that element from app_list -->
            {% if app_list_indices.pop(app_list_indices.index(temp_selection[0].short_name)) %}{% endif %}<!-- POP out that element from app_list_indices -->
            {% endfor %}
            </div>
        </div>
    </div>
</div>
