{% macro render_user_thumbnail(user, upload_method, id, class, style) %}
    {% if user.info.avatar %}
        {% if upload_method == 'rackspace'%}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onerror="imgError(this, 'user');">
        {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onerror="imgError(this, 'user');">
        {% endif %}
    {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('static', filename='img/placeholder.user.png')}}">
    {% endif %}
{% endmacro %}

{% macro render_geotagx_project_portfolio_element(category, image_link, info_link, tutorial_link, contributing_link, percentage_complete, label) %}

            <div class="portfolio {{category}}" data-cat="{{category}}">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">
                            <a href="{{info_link}}" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="{{tutorial_link}}" class="label label-primary icon" data-toggle="tooltip" data-placement="middle" title="Take Tutorial"><i class="fa fa-graduation-cap"></i></a>
                            <a href="{{contributing_link}}" class="label label-success icon" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play"></i></a>

                            <span style="margin-left:5px">{{percentage_complete}}% Complete</span>

                        </div>
                        <img src="{{image_link}}" alt="" />
                    </div>
                </div>
                <h4 class="portfolio-label">{{label}} </h4>                
            </div>
 
{% endmacro %}


{% macro geotagx_render_app_tile(app, upload_method, draft=False) %}
            <div class="portfolio {% if draft %} draft {% else %} published {% endif %} " data-cat="{% if draft %} draft {% else %} published {% endif %} " onclick="javascript:document.location='/project/{{app.short_name}}'">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">                     
                            <a href="/project/{{app.short_name}}" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="/project/{{app.short_name}}/newtask" class="label label-success icon" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play"></i></a>
                            <a href="/project/{{app.short_name}}/settings" class="label label-primary icon" data-toggle="tooltip" data-placement="middle" title="Settings"><i class="fa fa-cog"></i></a>

                            <span style="margin-left:5px">{{app.overall_progress}}% Complete</span>
                            <h2 style="background-color:#34495e">
                            {% if draft %}
                            {{ _('DRAFT') }}<br/>
                            {% endif %}     
                            </h2>  
                        </div>
                        <img src="{{ geotagx_app_thumbnail_url(app, upload_method) }}" alt="" width="100%" onerror="imgError(this);"/>
                        
                    </div>
                </div>
                <h4 class="portfolio-label">{{app.name}} </h4>  
            </div>
{% endmacro %}


{% macro geotagx_app_thumbnail_url(app, upload_method) %}
	{% if app.info.container %}
	    {% if upload_method == 'rackspace'%}
	    	{{ url_for('rackspace', filename=app.info.thumbnail, container=app.info.container)}}
	    {% else %}
	    	{{ url_for('uploads.uploaded_file', filename=(app.info.container + '/' + app.info.thumbnail))}}
	    {% endif %}
	{% elif app.info.thumbnail %}
	    {{app.info.thumbnail}}
	{% else %}
	    {{url_for('static', filename='img/placeholder.project.png')}}
	{% endif %}
{% endmacro %}

