<!-- Sequence Modern Slider -->
<div id="da-slider" class="da-slider">

        <div class="da-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <h2>
            <i>Project</i>
            <br>
            <i>One</i>
            <br>
          </h2>
          <p>
            <i>Project 1 small description</i>
            <br />
            <i>blleh bleh</i>
          </p>
          <a href="#" class="btn btn-info btn-lg da-link">
            Analyse
          </a>
          <div class="da-img">
            <img src="http://farm4.staticflickr.com/3912/14770269674_63a555e566_z.jpg')}}" alt="image01" />
          </div>
        </div>
      </div>
    </div>
  </div>


        <div class="da-slide">
        <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>
            <i>Project</i>
            <br>
            <i>Two</i>
            <br>
          </h2>
          <p>
            <i>Project 2 small description</i>
            <br />
            <i>blleh bleh</i>
          </p>
          <a href="#" class="btn btn-info btn-lg da-link">
            Analyse
          </a>
    <div class="da-img">
      <img src="https://farm8.staticflickr.com/7419/16208614030_6d3b70b7a3_b.jpg" alt="image01" width="640px" />
    </div>
  </div>
      </div>
    </div>
  </div>


  <div class="da-slide">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>
            <i>Project</i>
            <br>
            <i>Three</i>
            <br>
          </h2>
          <p>
            <i>Project 3 small description</i>
            <br />
            <i>blleh bleh</i>
          </p>
          <a href="#" class="btn btn-info btn-lg da-link">
            Analyse
          </a>
    <div class="da-img">
      <img src="https://farm4.staticflickr.com/3780/13445252764_6a969b0e93_m.jpg" alt="image01" width="640px" />
    </div>
  </div>
  </div>
  </div>
  </div>

  <nav class="da-arrows">
    <span class="da-arrows-prev">
    </span>
    <span class="da-arrows-next">
    </span>
  </nav>
</div>