{%- from 'projects/_helpers.html' import render_project_image_url %}
<style>
#featured-projects {
    height:300px;
    border-bottom:0;
}
.featured-project-name {
}
.featured-project-description {
}
.featured-project-analyse {
}
.featured-project-image > img {
    margin:0 0 12px 0;
    border:0;
    border-radius:10px;
}
</style>
<div id="featured-projects" class="da-slider clickable visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
    {%- for f in categories_projects['featured'] %}
    <div class="da-slide">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2  class="featured-project-name"><em>{{ f.name }}</em></h2>
                    <p   class="featured-project-description">{{ f.description }}</p>
                    <a   class="featured-project-analyse project-launcher da-link" href="{{url_for('project.details', short_name=f.short_name)}}">Analyse</a>
                    <div class="featured-project-image da-img"><img src="{{ render_project_image_url(f) }}" alt="{{ f.short_name }}" width="100%" height="275px"></div>
                </div>
            </div>
        </div>
    </div>
    {%- endfor %}
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>
