<!-- Sequence Modern Slider -->

{% from 'projects/_helpers.html' import render_project_image_url %}

<div id="da-slider" class="da-slider" style="height:350px">

{% for f in categories_projects['featured'] %}
        <div class="da-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <h2>
            <i>{{f.short_name}}</i>
            <br>
          </h2>
          <p class="col-md-12 col-sm-12 col-lg-12">
            {{ f.description }}
          </p>
          <a href="{{url_for('project.details', short_name=f.short_name)}}" class="btn btn-info btn-lg da-link">
            Analyse
          </a>
          <div class="da-img">
            <img src="{{render_project_image_url(f)}}" alt="{{f.short_name}}" width="100%" height="275px"  />
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}


  <nav class="da-arrows">
    <span class="da-arrows-prev">
    </span>
    <span class="da-arrows-next">
    </span>
  </nav>
</div>