{% set static = url_for("static", filename="geotagx") -%}
{% set css = static + "/geotagx-css" -%}
{% set js = static + "/geotagx-js" -%}
{% set img = static + "/geotagx-img" -%}
{% set vendor = static + "/vendor" -%}
{% set active_page = active_page|default("index") -%}
{% set active_project = active_project|default("none") -%}
{% set user_ip = request["remote_addr"] -%}
{% set user_id = 0 if current_user.is_anonymous() else current_user.id -%}
{% set user_name = "#geotagx-anonymous" if current_user.is_anonymous() else current_user.get_id() -%}
{% set user_locale = "en" if current_user.is_anonymous() else current_user.locale -%}
{% import "helpers/_bootstrap.html" as bootstrap %}

<!DOCTYPE html>
<html lang="{{user_locale}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Crowdsourcing for disaster management.">
        <meta name="keywords" content="crowdsource, crowdsourcing, volunteer, disaster, mapping, humanitarian, relief, efforts, citizen, science, unitar, unosat">
        <meta name="author" content="UNITAR-UNOSAT">
        {%- block meta %}{% endblock -%}

        <link rel="shortcut icon" href="{{img}}/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{css}}/base.css">
        <link rel="stylesheet" href="{{css}}/footer.css">
        <link rel="stylesheet" href="{{css}}/theme.css">
        <link rel="stylesheet" href="{{css}}/bootstrap-reset.css">
        <link rel="stylesheet" href="{{css}}/mixitup.css">
        <link rel="stylesheet" href="{{css}}/component.css">
        <link rel="stylesheet" href="{{css}}/style.css">
        <link rel="stylesheet" href="{{css}}/style-responsive.css">
        <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.8.0/bootstrap-social.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100"> {# TODO Optimize this when design is complete. #}
        {%- block stylesheet %}{% endblock -%}

        <script src="{{vendor}}/modernizr/modernizr.min.js"></script>
        <!--[if lt IE 9]>
        <script src="{{vendor}}/html5shiv/dist/html5shiv.min.js"></script>
        <script src="{{vendor}}/respond/dest/respond.min.js"></script>
        <![endif]-->
        <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

        {% include "_gcs.html" ignore missing %}

        <title>{{brand}}{% if brand != title %}&nbsp;&middot;&nbsp;{{title|safe}}{% endif %}</title>
    </head>
    <body data-user-id="{{user_id}}" data-user-name="{{user_name}}">
        {%- include "_gtm.html" ignore missing -%}
        {%- include "_navigation.html" -%}
        <div id="page">
            <header id="page-header">
                {% block header %}
                {% from "helpers/_page.html" import render_header %}
                {{render_header(page_breadcrumbs, title=active_page_title, subtitle=active_page_subtitle)}}
                {% endblock %}
            </header>
            <main id="page-content" role="main" class="container-fluid" style="min-height:400px;">
                {%- block flash_messages %}{% call bootstrap.row() %}{% include "_flash_messages.html" %}{% endcall %}{% endblock -%}
                {%- block content %}{% endblock -%}
            </main>
            <footer id="page-footer">
                {%- block footer %}{% endblock -%}
                {% include "_footer.html" %}
                {% if show_cookies_warning %}
                <div id="cookie-consent" style="position:fixed; z-index:32; width:100%; left:0; right:0; bottom:0; padding:1em; color:#FFF; background:#34495E">
                    <div class="col-xs-9">Cookies help us deliver our services. By using our services, you agree to our <a style="border-bottom:1px dotted #FFF; color:#FFF" href="{{url_for('help.cookies_policy')}}">use of cookies</a>.</div>
                    <div class="col-xs-3"><div class="pull-right"><button id="accept-cookies" class="btn btn-success" style="border-radius:3px;-webkit-border-radius:3px;">{{_("Accept")}}</button></div></div>
                </div>
                {% endif %}
            </footer>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{js}}/base.min.js"></script>
        <script src="{{js}}/mixitup.js"></script>
        <script src="{{js}}/geotagx.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {%- block script %}{% endblock -%}
    </body>
</html>
