<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{url_for('static', filename='geotagx-img/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='geotagx-img/favicon.ico')}}" type="image/x-icon">

    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='geotagx-css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='geotagx-css/theme.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='geotagx-css/bootstrap-reset.css')}}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.8.0/bootstrap-social.min.css" rel="stylesheet">

    <!--external css-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='geotagx-css/mixitup.css')}}">

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='geotagx-css/component.css')}}">
    <link href="{{url_for('static', filename='geotagx-css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='geotagx-css/style-responsive.css')}}" rel="stylesheet" />

    <script src="{{url_for('static', filename='vendor/modernizr.min.js')}}"></script>
    <script src="{{url_for('static', filename='geotagx-js/jquery-1.8.3.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='geotagx-js/geotagx-surveys.js')}}">
    </script>
    {% if request['path'] == '/' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='geotagx-css/parallax-slider/parallax-slider.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='geotagx-js/parallax-slider/jquery.cslider.js')}}">
    </script>
    <script type="text/javascript">
      $(function() {
        $('#featured-projects').cslider({
          autoplay    : true,
          bgincrement : 0,
          interval : 6000
        });
      });
    window.client_remote_addr = "{{request['remote_addr']}}";
    </script>
    {% endif %}

    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='geotagx-js/html5shiv.js')}}">
    </script>
    <script src="{{url_for('static', filename='geotagx-js/respond.min.js')}}">
    </script>
    <![endif]-->
  </head>
  {%- if current_user.is_anonymous() %}
  <body data-user-id="0" data-user-name="#geotagx-anonymous">
  {% else %}
  <body data-user-id="{{ current_user.id }}" data-user-name="{{ current_user.get_id() }}">
  {% endif %}
    {%- include "_gtm.html" ignore missing -%}

    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}
    {% set active_page = active_page | default('index') -%}
    {% set active_app  = active_app | default('none') -%}

    {% include '_navbar.html' %}

    {% if request['path'] == "/" %}
        {% include "_slider.html" %}
    {% else %}
        {% include "_breadcrumbs.html" %}
    {% endif %}

        <div class="container" style="min-height:400px;">

        {% include "_flash_messages.html" %}
        {% block content %}{% endblock %}

        {% if active_page != "home#index" %}
        </div>
        {% endif %}
        <!--container end-->

    {% include '_footer.html' %}

    <!-- js placed at the end of the document so the pages load faster
<script src="{{url_for('static', filename='geotagx-js/jquery.js')}}">
</script>
-->
    <script src="{{url_for('static', filename='geotagx-js/bootstrap.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='geotagx-js/mixitup.js')}}">
    </script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='geotagx-js/geotagx.js')}}">
    </script>
    <script src="{{url_for('static', filename='geotagx-js/ccl/analytics.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='geotagx-js/geotagx-analytics.js')}}">
    </script>
  </body>
</html>
